@charset "UTF-8"; 

.body-special #content {
	z-index: 2;
	top: 0;
	left: 0
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak, .ng-hide {
	display: none !important;
}

ng\:form {
	display: block;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.page-signin .signin-header {
	padding: 25px 0;
	background-color: #dfe0e6;
}

.page-signin .logo {
	font-size: 46px;
	font-weight: bold;
}

.page-signin .logo a:hover {
	text-decoration: none;
}

.page-signin .signin-body, .page-signin .signup-body, .page-signup .signin-body,
	.page-signup .signup-body {
	border-top: 1px solid #f8f8f8;
	padding: 20px 10px;
}

.page-signin .form-container {
	max-width: 420px;
	margin: 10px auto;
}

.page-signin .line-thru {
	margin: 1em 0;
	display: block;
	font-size: .875em;
	font-weight: bold;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.page-signin .line-thru:before {
	width: 50px;
	height: 10px;
	background-color: #f3f3f3;
	content: '';
	margin: -5px 0 0 -20px;
	left: 50%;
	position: absolute;
	top: 50%;
	z-index: -1;
}

.page-signin .line-thru:after {
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	content: '';
	display: block;
	position: absolute;
	top: 49%;
	z-index: -2;
}

.ng-hide {
	display: block !important;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.pannelShowingEffect{
	-webkit-transform: translate(0, 70px);
	-moz-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	-o-transform: translate(0, 70px);
	transform: translate(0, 70px);
	-webkit-animation: pannelShowingEffect 0.35s ease forwards;
	-moz-animation: pannelShowingEffect 0.35s ease forwards;
	-o-animation: pannelShowingEffect 0.35s ease forwards;
	-ms-animation: pannelShowingEffect 0.35s ease forwards;
	animation: pannelShowingEffect 0.35s ease forwards;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0 );
	opacity: 0 ;
}

@keyframes pannelShowingEffect {
	to {
		transform: translateY(0);
		opacity: 1
	   }

	}
@-ms-keyframes pannelShowingEffect {
	to {
		-ms-transform: translateY(0);
		opacity: 1
		}
}
@-webkit-keyframes pannelShowingEffect {
	to {
		-webkit-transform: translateY(0);
		opacity: 1
	}

}

@-moz-keyframes cardShowingEffect {
		to {	-moz-transform: translateY(0);
		opacity: 1
	}

}

@
-webkit-keyframes fade-up-enter { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
}

100%{
opacity


:


1;
-webkit-transform


:translateY(0)


;
}
}
@
-moz-keyframes fade-up-enter { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
}

100%
{
opacity


:


1;
-webkit-transform


:translateY(0)


;
}
}
@
-o-keyframes fade-up-enter { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
}

100%{
opacity


:


1;
-webkit-transform


:translateY(0)


;
}
}
@
keyframes fade-up-enter { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
}

100%{
opacity


:


1;
-webkit-transform


:translateY(0)


;
}
}
.animate-fade-up.ng-enter {
	-webkit-animation: 0.35s fade-up-enter;
	-moz-animation: 0.35s fade-up-enter;
	-o-animation: 0.35s fade-up-enter;
	animation: 0.35s fade-up-enter;
}

.page-signin .signin-header, .page-signup .signin-header {
	padding: 25px 0;
	background-color: #dfe0e6;
}

.page-signin .logo, .page-signup .logo {
	font-size: 46px;
	font-weight: bold;
}

.page-signin .logo a:hover, .page-signup .logo a:hover {
	text-decoration: none;
}

.page-signin .signin-body, .page-signin .signup-body, .page-signup .signin-body,
	.page-signup .signup-body {
	border-top: 1px solid #f8f8f8;
	padding: 20px 10px;
}

.page-signin .form-container, .page-signup .form-container {
	max-width: 420px;
	margin: 10px auto;
}

.page-signin .line-thru, .page-signup .line-thru {
	margin: 1em 0;
	display: block;
	font-size: .875em;
	font-weight: bold;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.page-signin .line-thru:before, .page-signup .line-thru:before {
	width: 50px;
	height: 10px;
	background-color: #f3f3f3;
	content: '';
	margin: -5px 0 0 -20px;
	left: 50%;
	position: absolute;
	top: 50%;
	z-index: -1;
}

.page-signin .line-thru:after, .page-signup .line-thru:after {
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	content: '';
	display: block;
	position: absolute;
	top: 49%;
	z-index: -2;
}

.form-validation .ng-invalid.ng-dirty {
    border-color: #E94B3B;
}


.help-block.ng-active {
  background:#E94B3B;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top: 10px;
  position:relative;
}

.help-block.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #E94B3B;
  border-width:5px;
}

.upload {
	padding: 1px;
	margin: 0px;
	display: inline;
	opacity: 1.08;
	width: 103px;
	height: 36px;
	margin-top: -7px;
	color: #0C0B0B;
}

.reject {
	color: #fff;
	background-color: #EF160B;
	border-color: #EF160B;
}

.btn:focus {
	color: #fff;
}

.scroll-fixed-top {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
	z-index: 1000;
}

#rightbar span {
	margin-left: 0px;
}

.employment {
	display: none;
}

#notification_tmp fieldset {
	border: 1px solid #CFCFCF;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #777;
	background-color: #F0F2F3;
}

#notification_tmp fieldset label {
	font-weight: normal;
	margin: 5px 0px 0px;
}

#notification_tmp legend {
	width: auto;
	min-width: 100px;
	font-size: 14px;
	margin: 0px;
	border: none;
	color: #777;
	font-weight: bold;
}

.Pending {
	background-color: blue;
}

.Approved {
	background-color: green;
}

.Declined {
	background-color: red;
}

.picked {
	background-color: #CFCFCF;
	border: 2px solid #fff;
}

.picked:hover {
	background-color: #CFCFCF;
}

.node ellipse {
	fill: #fff;
	stroke: none;
	/*  stroke-width: 2px; */
}

.node:hover {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: green;
	stroke-width: 1px;
	z-index: 1000;
}

svg:not (:root ) {
	overflow: visible;
}

#tooltip {
	position: absolute;
	height: auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.tooltipExp {
	word-spacing: 5px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgb(224, 214, 214);
	padding: 5px;
}

#tooltip.hidden {
	display: none;
}

.nhr a {
	color: #777;
}


.form-inline .search-bar {
	width: 8em;
	transition(width, 0.2s, ease-in-out);
	padding-right: 2.5em;
}

.form-inline .search-bar :hover, .form-inline .search-bar :focus{
	width: 15em;
} 

.fix-to-top {
    position: fixed;
    top: 0;
    left: 0px;
    z-index:9999;
    scroll:auto;
    padding-top: 15px;
    padding-left: 0px;
    background-color: #eee;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

}


.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 6px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


.notify-scroll-container{
	width: 1000px;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 0 10px #000;

}

.notify-scroll-container ul{
	float: left;
    /*margin-right: -999em;*/
    white-space: nowrap;
    list-style: none;
}

.notify-scroll-container li{
	margin: 5px;
    text-align: center;
    float: left;
    display: inline;
    height: 40px;
    width: 80px;
}

.notify-scroll-container a {
    text-decoration: none;
    font-weight: bold;
}
    
.notify-scroll-container img {
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    width: 80px;
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}    

.notify-scroll-container img:hover{
	height: 80px;
	width: 100px;
}    
