<style>
	.holdTmplt{
		padding:0px;
	}
</style>
<div class="row clearfix" id="infoContainer" style="padding-top: 20px;">
	<div class="col-sm-4 col-md-3" id="progressDiv"	style="border-right: 01px solid #24a1ed; padding-right: 0px; padding-top: 22px;">
		<div id="responsive">
			<div style="padding-left: 30%">
				<div style="display: inline-block; color: #24a1ed; float: left;">Name : 
				</div>
				<div style="display: inline-block; width: 75%;">
				{{ fname +"	"+ mname +" "+ lname}}
				</div>
			</div>			
			<div style="margin-top: 10px; padding-left: 30%">
				<div style="display: inline-block; color: #24a1ed; float: left;">Ref ID: </div>
				<div style="display: inline-block; width: 75%;"> {{ REFID }}</div>
			</div>			
			<div style="margin-top: 10px; padding-left: 30%">
				<div style="display: inline-block; color: #24a1ed; float: left;">Product: </div>
				<div style="display: inline-block; width: 75%;"> {{productType}}</div>
			</div>
			<div style="margin-top: 18%;">
				<ul class="progressbar">
					<li id="KYCList" class="active">PERSONAL DETAILS</li>
					<li id="personalList">ADDRESS DETAILS</li>
					<li id="employmentList">WORK DETAILS</li>
					<li id="IncomeList">ASSET DETAILS</li>
					<li id="BankingList">PROOF</li>
				</ul>
			</div>
		</div>
	</div>
	<div class=" col-sm-8 col-md-9">
		<!-- personal data -->
		<!-- address data -->
		<!-- professional data -->
		<!-- asset data -->
		<!-- kyc documents -->
		<div ui-view></div>
	</div>
</div>
<!-- change -->
<fieldset id="additionalDoc" style="display: none;">
	<div class="getheight" id="kycHeight">
		<div class="row clearfix ">
			<div class="col-md-10 col-md-offset-1">
				<div class="row clearfix" id="appImgRw">
					<div class="col-md-12" style="border-top: 01px solid #24A1ED">
						<div class="row clearfix alert-info">
							<span class="info">Application Form</span>
						</div>
						<div class="row clearfix">
						<div class="col-md-3" ng-repeat="item in ApplicationArr"  style="padding: 8px;">
							<content-item content="item"></content-item>
								</div>
							<span class="Add-Icon same abs_rght_mdl"
								ng-click="addNewElement('APPLICATION_FORM')"><b>+</b></span>
						</div>

					</div>
				</div>

				<div class="row clearfix" id="aggImgRw">
					<div class="col-md-12" style="border-top: 01px solid #24A1ED">

						<div class="row clearfix alert-info">
							<span class="info">Agreement</span>
						</div>
						<div class="row clearfix">
						<div class="col-md-3" ng-repeat="item in AggrigationArr"  style="padding: 8px;">
							<content-item content="item"></content-item></div>
							<span class="Add-Icon same abs_rght_mdl"
								ng-click="addNewElement('AGREEMENT')"><b>+</b></span>
						</div>
					</div>
				</div>

				<div class="row clearfix" id="chkImgRw">
					<div class="col-md-12" style="border-top: 01px solid #24A1ED">
						<div class="row clearfix alert-info">
							<span class="info">ACH / ECS & Cancelled Cheque</span>
						</div>


						<div class="row clearfix">
						<div class="col-md-3" ng-repeat="item in AchArr"  style="padding: 8px;">
							<content-item  content="item"></content-item>
							</div>
							<span class="Add-Icon same abs_rght_mdl"
								ng-click="addNewElement('ACH')"><b>+</b></span>
						</div>

					</div>
				</div>

				<div class="row clearfix" id="disImgRw">
					<div class="col-md-12" style="border-top: 01px solid #24A1ED">
						<div class="row clearfix alert-info">
							<span class="info">Disbursement Kit</span>
						</div>
						<div class="row clearfix">
						<div class="col-md-3" ng-repeat="item in DisbursmentArr"  style="padding: 8px;">
							<content-item content="item"></content-item></div>
							<span class="Add-Icon same abs_rght_mdl"
								ng-click="addNewElement('DISBURSEMENT')"><b>+</b></span>
						</div>
					</div>
				</div>

				<div class="row clearfix" id="kycImgRw">
					<div class="col-md-12" style="border-top: 01px solid #24A1ED">
						<div class="row clearfix alert-info">
							<span class="info">Additional_KYC</span>
						</div>
						<div class="row clearfix">
						<div class="col-md-3" ng-repeat="item in AddtnlKycArr" style="padding: 8px;">
							<content-item content="item"></content-item></div>
							<span class="Add-Icon same abs_rght_mdl"
								ng-click="addNewElement('ADDITIONAL_KYC')"><b>+</b></span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix ">
		<div class="col-md-10 col-md-offset-1" style="text-align: center">
			<button class="customButton" id="dsubmit" ng-click="finalPdfshowFun()">Submit</button>
		</div>
		<!-- <div class="col-md-4"></div> -->
	</div>
</fieldset>
<fieldset id="additionalDocfinal"
	style="display: none; text-align: center;">
	<div class="getheight text-center" id="kycHeight">
		<div class="row clearfix" ng-show="dstatus=='Approved'">
			<div class="preview" accesskey="{{postIpaPDFCode}}"
				data-toggle="modal" data-target="#myModalnew"
				style="display: inline-block;">
				<span>View PDF</span>
			</div>
			<label class="control-label" style="display: block;">
			POST DELIVERY ORDER</label>
		</div>
		<div class="row clearfix">
			<label>{{finalResponse}}</label>
			<button class="customButton" style="margin-top: 2%;margin-right: 4%;"
				ng-click="sendPostIpaMail()">Submit</button>
			<button id="homePG" class="customButton" style="margin-top: 2%;">home</button>
		</div>
	</div>
</fieldset>
<div class="row clearfix" style="background-color: white;" id="ErrorContainer">
</div>
<!-- Modal -->
<div class="modal fade" id="assetModel" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Asset Change</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="row clearfix customRow">
						<div class="col-md-12 height">
							<help>Asset Category*</help>
							<select id="ast1" ng-model="assetCategory" class="ast customSelect" ng-options = "d for d in assetArray track by d"  ng-change="fetchAssetMake(assetCategory)">
								<option value="">Select Category</option>
							</select>
							<img alt="" src="images/select-arrow.png" class="customarrow"
								style="right: 13%" /></span>
						</div>
					</div>
					<div class="row clearfix customRow">
						<div class="col-md-12 height">
							<help>Make*</help>
							<!-- <input type="text" id="mk1" ng-model="mk" class="customInput"
								placeholder="Make*" /> -->
								<select id="mk1" ng-model="mk" class="mk customSelect" ng-options = "d for d in makeTags track by d" ng-change="fetchAssetModel(assetCategory,mk)">
									<option value="">Select Make</option>
								</select> <img alt="" src="images/select-arrow.png" class="customarrow" style="right: 13%" />
						</div>
					</div>
					<div class="row clearfix customRow">
						<div class="col-md-12 height">
							<help>Model*</help>
							<!-- <input type="text" id="mdl1" ng-model="mdl"
								class="customInput" placeholder="Model*" /> -->
								<select id="mdl1" ng-model="mdl" class="customSelect" ng-options = "d for d in modelTags track by d">
									<option value="">Select Model</option>
								</select>
								<img alt="" src="images/select-arrow.png" class="customarrow"
										style="right: 13%" />	
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="text-align: center">
				<button type="button" class="btn btn-default" data-dismiss="modal"	style="border: 1px solid #24a1ed; background-color: white; padding: 4px 16px 5px; color: #24a1ed;" ng-click="onSaveAssetClicked()">Save</button>
			</div>
		</div>
	</div>
</div>
<div id="myModalnew" class="modal fade">
	<div class="modal-dialog"
		style="width: 55%; max-height: 600px; height: 65%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Document Preview</h4>
			</div>
			<div class="modal-body" id="img_preview">
				<div class="row clearfix" id="img_panel" style="padding: 15px;">
					<img id="document_preview" src=""
						style="width: 100%; height: 100%; max-height: 400px">
					<object id="cirhtml" type="text/html" width="100%"
						style="border: none; height: 500px;"></object>
				</div>
			</div>
		</div>
	</div>
</div>	