<form name="AssetForm" novalidate autocomplete="off" >
	<div class="row clearfix getheight" slimscroll="{height:400,railVisible:true,alwaysVisible:true}">
		<div id="assetContainer" class="col-md-10 col-md-offset-1">
			<asset-selector asset="applicant.asset"></asset-selector>
		</div>
	</div>
	<div class="row clearfix ">
		<div class="col-md-10 col-md-offset-1">
			<button type="button" class="customButton previous" ng-click="onPreviousClicked('/cdl/apply.professional')">
				<i class="fa fa-arrow-circle-o-left"></i>
				Previous
			</button>
			<!-- !(applicant.asset.category && applicant.asset.make && applicant.asset.model) -->
			<button type="submit" class="customButton next" ng-click="onNextClicked(AssetForm.$valid)">
				Next
				<i class="fa fa-arrow-circle-o-right"></i>
			</button>
			<button class="customButton save" id="save" ng-click="submitApplication('step3')">Save</button>
		</div>
	</div>
</form>


