<div class="row clearfix" style="background-color: white;" id="ErrorContainer">
    <div id="msgContainer" ng-if="errHead">
        <!-- <img id="loaderImg" alt="" src="../img/loading.gif" style="display: none;" />			 -->
        <strong id="errorHeading" ng-show="errHead!=''" class="text-danger">
			{{errHead}} :
		</strong>
        <span id="main_error" class="text-danger">
			{{errorMsg}}
		</span>
    </div>
</div>
<div class="row clearfix footer" style="line-height: 4px; background-color: #24A1ED"></div>
<div style="width: 400px; bottom: 14px;left: 1%;text-align: center;">
    <div style="background: white; display: inline;font-size: 16px;">Version : 1.06.01</div>
    <img id="dmiImage" class="hdbImg" alt="" src="images/hdbfs.png" />
</div>
