<div class="col-md-10 col-md-offset-1" style="margin-bottom: 15px;margin-top: 15px;">
	<span style="font-size: 18px;padding: 5px;">{{refID}}</span>
	<button class="customButton" style="float: right;" ng-click="gotoDashboard()">Back</button>
</div>
<div class="col-md-10 col-md-offset-1" >
<form id="msform" slimscroll="{height: 420,railVisible:true}">
	<!-- <fieldset class="formfield" ng-if="!authenticate('NCONTAINER')"
		style="display: block;">
		<legend> LOS Information</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">LOS ID</label> <input
					class="form-control" id="losId" ng-model="losID" type="text"
					maxlength="10">
			</div>
			<div class="col-md-3">
				<label class="control-label">UTR#</label> <input
					class="form-control" ng-model="utrValue" id="utrData"
					disabled="disabled" type="text" maxlength="25">
			</div>
			<div class="col-md-3">
				<label class="control-label">LOS Status</label>
											<input id="losStatus" class="form-control" type="text">
				ng-change="losStatusChange(losStatus1)"
				<select class="form-control" id="losStatusId1" name="Los status"
					ng-model="losStatus1" data-ng-change="losStatusChange(losStatus1)">
					<option value="">Please Select LOS Status</option>
					<option value="LOS_QDE">LOS_QDE</option>
					<option value="LOS_APRV">LOS_APRV</option>
					<option value="LOS_DCLN">LOS_DCLN</option>
					<option value="LOS_DISB">LOS_DISB</option>
					<option value="DO">DO</option>
				</select>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3" style="float: right;">
				<a class="add-button-div-notification" ng-click="updatedata()"
					style="float: right; margin-top: 7px; margin-bottom: -4px; width: 35%;">Update</a>
			</div>
		</div>
	</fieldset> 
	<fieldset class="formfield" style="display: block;">
		<legend>CRO Justification</legend>
		<div class="row clearfix">
			<div ng-repeat="data in croRemark">
				<div class="col-md-3" ng-if="data.sRemark!='' || data.sRemark!=null">
					<label class="control-label">CRO NAME</label> <input
						class="form-control" value="{{data.sCroID}}" disabled="disabled"
						type="text">
				</div>
				<div class="col-md-3" ng-if="data.sRemark!='' || data.sRemark!=null">
					<label class="control-label">Remark</label> <input
						class="form-control" disabled="disabled" value="{{data.sRemark}}"
						type="text">
				</div>
				<div class="col-md-3"
					ng-if="data.sRemark!='' || data.sRemark!=null ">
					<label class="control-label">Subject To</label> <input
						class="form-control" value="{{data.sSubTo}}" disabled="disabled"
						type="text">
				</div>
			</div>
		</div>
	</fieldset> -->

	<div ng-if="applicantPhotoPresent==true" style="display: block;">
		<legend>Applicant Photo</legend>
		<a> <img alt="Document Not available" title=""
			accesskey="{{applicantPhotoImg}}" data-toggle="modal"
			data-target="#custFormPreview" class="preview" src="{{applicantPhotoImg}}"
			name="{{applicantPhotoImgID}}" style="border: none;" ng-click="showPreviewModal(applicantPhotoImg)" />
		</a>
	</div>

	<fieldset class="formfield" style="display: block;">
		<legend>Personal Information</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Applicant Name</label> <input
					class="form-control" ng-model="name" type="text"
					name="Applicant Name" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Date of Birth</label> <input id="dob"
					class="form-control" ng-model="dob" type="text"
					name="Date Of Birth" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Gender</label><input
					type="radio" name="Gender" checked="checked" value="Male"
					ng-model="gender" disabled="disabled" /> Male &nbsp; <input
					type="radio" name="Gender" value="Female" ng-model="gender"
					disabled="disabled" /> Female
			</div>
			<div class="col-md-3">
				<label class="control-label">Marital Status</label><input
					type="radio" name="mstatus" checked="checked" value="Married"
					ng-model="mStatus" disabled="disabled" /> Married &nbsp; <input
					type="radio" value="Single" ng-model="mStatus" disabled="disabled" />
				Single
			</div>
		</div>
			<div class="col-md-3">
				<label class="control-label">Credit Card No</label><input
					class="form-control" ng-model="credit" type="text" name="PinCode"
					maxlength="6" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Loan Amount</label> <input
					 ng-model="appldAmount" class="form-control" type="text"
					name="Dealername" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Tenor Applied</label><input
					class="form-control" ng-model="tenor" type="text" name="PinCode"
					maxlength="6" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Constitution</label><input
					class="form-control" type="text" name="" ng-model="constitution"
					maxlength="6" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Education</label><input
					class="form-control" type="text" ng-model="education"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Age</label><input class="form-control"
					type="text" ng-model="age" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Refer To Credit</label><input
					class="form-control" type="text" ng-model="supecious"
					disabled="disabled">
			</div>
	</fieldset>
	<fieldset class="formfield" style="display: block;">
		<legend>Email Information</legend>
		<div class="row clearfix">
			<div class="col-md-3" ng-repeat="id in email">
				<label class="control-label">{{id.sEmailType.charAt(0).toUpperCase()+id.sEmailType.slice(1).toLowerCase()}}
					Email</label> <input class="form-control" ng-model="id.sEmailAddr"
					type="text" name="Email" disabled="disabled">
			</div>
		</div>
	</fieldset>
	<fieldset class="formfield" style="display: block;">
		<legend>Contact Information</legend>
		<div class="row clearfix">
			<div class="col-md-3" ng-repeat="phone in phn">
				<label class="control-label">{{phone.sPhoneType}}</label> <input
					ng-if="phone.sAreaCode" class="form-control" type="text"
					value="{{phone.sAreaCode}} - {{phone.sPhoneNumber}}"
					disabled="disabled"> <input ng-if="!phone.sAreaCode"
					class="form-control" type="text" value="{{phone.sPhoneNumber}}"
					disabled="disabled">
			</div>
		</div>
	</fieldset>
	<fieldset class="formfield" style="display: block;">
		<legend>Address Details</legend>
		<div class="row clearfix">
			<div class="col-md-3 column">
				<label class="control-label">Select Address Type</label>
			</div>
			<div class="col-md-3 column">
				<select class="form-control" name="Employment Type" id="select_addr"
					ng-model="addr_type">
					<option ng-repeat="obj in addrType" value="{{obj.value}}">{{obj.name}}</option>
				</select>
			</div>
		</div>
		<div id="addr_detail">
			<div id="Residence" ng-if="addr_type=='Residence'">
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label">Address Line 1</label> <input
							class="form-control" ng-model="resaddr.sLine1" type="text"
							name="address1" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 2</label> <input
							class="form-control" ng-model="resaddr.sLine2" type="text"
							name="address2" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 3</label> <input
							class="form-control" ng-model="resaddr.sLine3" type="text"
							name="address3" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">City</label> <input
							class="form-control" value="{{resaddr.sCity}}" type="text"
							disabled="disabled">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label" style="float: none;">State </label> <input
							id="statelist" class="form-control" ng-model="resaddr.sState"
							type="text" name="State" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Pin Code</label> <input
							class="form-control"
							value="{{(resaddr.iPinCode!=0 ? resaddr.iPinCode : '')}}"
							type="text" name="PinCode" maxlength="6" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Monthly Rent</label> <input
							class="form-control" ng-model="resaddr.dRentAmt" type="text"
							disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Resi Addr Type</label> <input
							class="form-control" ng-model="resaddr.sResAddrType" type="text"
							disabled="disabled">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label">Month at addr</label> <input
							class="form-control"
							value="{{resaddr.iMonthAtAddr!=0 ? resaddr.iMonthAtAddr : ''}}"
							type="text" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Month at city</label> <input
							class="form-control"
							value="{{resaddr.iMonthAtCity!=0 ? resaddr.iMonthAtCity : ''}}"
							type="text" disabled="disabled">
					</div>
				</div>
			</div>
			<div id="Office" ng-if="addr_type=='Office'">
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label">Address Line 1</label> <input
							class="form-control" ng-model="officeaddr.sLine1" type="text"
							name="address" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 2</label> <input
							class="form-control" ng-model="officeaddr.sLine2" type="text"
							name="complete address" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 3</label> <input
							class="form-control" ng-model="officeaddr.sLine3" type="text"
							name="address3" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">City</label> <input
							class="form-control" value="{{officeaddr.sCity}}" type="text"
							disabled="disabled">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label" style="float: none;">State </label> <input
							id="statelist" class="form-control" ng-model="officeaddr.sState"
							type="text" name="State" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Pin Code</label> <input
							class="form-control"
							value="{{(officeaddr.iPinCode!=0 ? officeaddr.iPinCode : '')}}"
							type="text" name="PinCode" maxlength="6" disabled="disabled">
					</div>
				</div>
			</div>
			<div id="Permanent" ng-if="addr_type=='Permanent'">
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label">Address Line 1</label> <input
							class="form-control" ng-model="peraddr.sLine1" type="text"
							name="address" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 2</label> <input
							class="form-control" ng-model="peraddr.sLine2" type="text"
							name="complete address" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Address Line 3</label> <input
							class="form-control" ng-model="peraddr.sLine3" type="text"
							name="address3" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">City</label> <input
							class="form-control" value="{{peraddr.sCity}}" type="text"
							disabled="disabled">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label" style="float: none;">State </label> <input
							id="statelist" class="form-control" ng-model="peraddr.sState"
							type="text" name="State" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Pin Code</label> <input
							class="form-control"
							value="{{(peraddr.iPinCode!=0 ? peraddr.iPinCode : '')}}"
							value="" type="text" name="PinCode" maxlength="6"
							disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Monthly Rent</label> <input
							class="form-control" ng-model="peraddr.dRentAmt" type="text"
							maxlength="6" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Resi Addr Type</label> <input
							class="form-control" ng-model="peraddr.sResAddrType" type="text"
							maxlength="6" disabled="disabled">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3">
						<label class="control-label">Month at addr</label> <input
							class="form-control"
							value="{{peraddr.iMonthAtAddr!=0 ? peraddr.iMonthAtAddr : ''}}"
							type="text" disabled="disabled">
					</div>
					<div class="col-md-3">
						<label class="control-label">Month at city</label> <input
							class="form-control" type="text"
							value="{{peraddr.iMonthAtCity!=0 ? peraddr.iMonthAtCity : ''}}"
							disabled="disabled">
					</div>
				</div>
			</div>
		</diV>
	</fieldset>
	<fieldset class="formfield" style="display: block;">
		<legend>Professional Information</legend>
		<div id="employer_detail">
			<div id="Job">
				<div class="row clearfix">
					<div class="col-md-3 column">
						<label class="control-label">Employment Type</label> <input
							class="form-control" ng-model="employment_type" type="text"
							disabled="disabled">
					</div>
					<div class="col-md-3 column">
						<label class="control-label">Employer</label> <input
							id="job_compnay_name" class="form-control" ng-model="employer"
							type="text" name="Company Name" disabled="disabled">
					</div>
					<div class="col-md-3 column">
						<label class="control-label">Time with this Employer</label> <input
							class="form-control" ng-model="time_employer" type="text"
							name="Time With This Employee" disabled="disabled">
					</div>
					<div class="col-md-3"
						ng-if="constitution.toUpperCase()!='SELF-EMPLOYED'">
						<label class="control-label">Last Month Salary</label> <input
							class="form-control" ng-model="lastsalary" type="text"
							disabled="disabled">
					</div>
					<div class="col-md-3"
						ng-if="constitution.toUpperCase()=='SELF-EMPLOYED'">
						<label class="control-label">Last Year IT Amount</label> <input
							class="form-control" ng-model="ITamt" type="text"
							disabled="disabled">
					</div>
				</div>
			</div>
		</diV>
	</fieldset>
	<fieldset class="formfield" style="display: block;">
		<legend> Product Information</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Dealer Name</label> <input
					id="dealerName" ng-model="dealer" class="form-control" type="text"
					name="Dealername" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Asset Category</label> <input
					id="newcity" ng-model="assetctg" class="form-control" type="text"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Make</label> <input id="projectname"
					ng-model="project" class="form-control" type="text" name="Project"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Model</label> <input ng-model="model"
					class="form-control" type="text" disabled="disabled">
			</div>
		</div>
	</fieldset>

	<!-- <fieldset class="formfield" style="display: block;">
		<legend> BRE Information</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">CIBIL Score</label> <input
					id="cibil_score" ng-model="cibilS" class="form-control" type="text"
					name="Cibil" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Office Stability</label> <input
					class="form-control" ng-model="offAddrRslt" type="text"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Resi Stability</label> <input
					class="form-control" ng-model="resAddrRslt" type="text"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Case Status</label> <input
					class="form-control" ng-model="applctnstatus" type="text"
					disabled="disabled">
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Current Stage</label> <input
					class="form-control" ng-model="currStage" type="text"
					disabled="disabled">
			</div>
			<div ng-repeat="data in bureau ">
				<div class="col-md-3">
					<label class="control-label">{{data.sFldName}}</label> <input
						ng-if="data.sFldName!='PAN Verification'" ng-model="data.sFldVal"
						class="form-control" type="text" name="data.sFldName"
						disabled="disabled"> <input
						ng-if="data.sFldName =='PAN Verification'" ng-model="data.sMsg"
						class="form-control" type="text" name="data.sFldName"
						disabled="disabled">
				</div>
				<div class="col-md-3" ng-if="data.sFldName =='PAN Verification'">
					<label class="control-label">PAN Score</label> <input
						ng-model="data.fNameScore" class="form-control" type="text"
						name="data.sFldName" disabled="disabled">
				</div>
			</div>
		</div>
	</fieldset> -->
	<!-- <fieldset class="formfield" style="display: block;">
		<legend>Decision</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Applied Amount </label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="project_amount"
						class="form-control" ng-model="Amount" type="text" name="Amount"
						accesskey="commas" disabled="disabled">
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Eligibility Amount</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input ng-model="croDec.dEligibleAmt"
						class="form-control" type="text" disabled="disabled">
				</div>

			</div>
			<div class="col-md-3">
				<label class="control-label">Approved Amount</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span><input ng-model="croDec.dAmtAppr"
						class="form-control" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Tenor </label> <input
					ng-model="croDec.iTenor" class="form-control" type="text"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">EMI </label> <input
					ng-model="croDec.dEmi" class="form-control" type="text"
					disabled="disabled">
			</div>
			<div class="col-md-3" ng-repeat="dtls in DetailsResp"
				ng-if="dtls.Outcome!=' '">
				<label class="control-label">Reason </label> <input
					value="{{dtls.RuleName}} : {{dtls.Remark}}" class="form-control"
					type="text" disabled="disabled">
			</div>

			<div class="col-md-3">
				<label class="control-label"> Eligibility Remark</label> <input
					ng-model="Eremark" class="form-control" type="text" name="eRemark"
					disabled="disabled">
			</div>
		</div>
	</fieldset> -->

	<!-- 	<fieldset class="formfield" style="display: block;">
		<legend>KYC Information</legend>
		<div class="row clearfix">
			<div class="col-md-3"
				ng-repeat="kyc in details.oReq.oApplicant.aKycDocs">
				<label class="control-label">{{kyc.sKycName}} NUMBER</label> <input
					class="form-control" type="text" value="{{kyc.sKycNumber}}"
					disabled="disabled">
			</div>
									<div class="col-md-3">
										<label class="control-label">Aadhaar Number</label> <input
											class="form-control" ng-model="aadhar" type="text"
											name="Aadhar Number" placeholder="XXXX XXXX XXXX">
									</div>
		</div>
	</fieldset> -->
	<fieldset class="formfield" id="kyc_fielset" style="display: block;">
		<legend>KYC Document</legend>
		<div class="col-md-4" ng-repeat="kyc_doc in kyc_array">
			<label class="control-label">{{kyc_doc.kyc_name}}</label> 
			<label class="control-label"><span ng-if="kyc_doc.val!=''">Number :</span> {{kyc_doc.val}}
			</label>
			<a>
			<img alt="Document Not available" title="{{kyc_doc.kyc_name}}" accesskey="{{kyc_doc.image}}"
				data-toggle="modal" data-target="#custFormPreview" class="preview"
				src="{{kyc_doc.image}}" name="{{panimgID}}" style="border: none;"
				ng-click="showPreviewModal(kyc_doc.image)" />
			</a>
		</div>
		<!-- <div class="col-md-3">
			<a><img alt="Document Not available" title="AADHAAR"
				accesskey="{{aadhar}}" data-toggle="modal" data-target="#myModalnew"
				class="preview" src="{{aadhar}}" name="{{adhrimgID}}"
				style="border: none;"> <label class="control-label">Aadhaar
					Card</label></a>
		</div>
		<div class="col-md-3">
			<a><img alt="Document Not available" title="DRIVING-LICENSE"
				accesskey="{{dlicense}}" data-toggle="modal"
				data-target="#myModalnew" class="preview" src="{{dlicense}}"
				name="{{drvlimgID}}" style="border: none;"> <label
				class="control-label">Driving License</label></a>
		</div>
		<div class="col-md-3">
			<a><img alt="Document Not available" title="PASSPORT"
				accesskey="{{passport}}" data-toggle="modal"
				data-target="#myModalnew" class="preview" src="{{passport}}"
				name="{{passimgID}}" style="border: none;"> <label
				class="control-label"> Passport</label></a>
		</div> -->
	</fieldset>
	<!-- <fieldset class="formfield" style="display: block;">
		<legend>IPA Details</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Approved Amount</label> <input id=""
					class="form-control" type="text" name="" ng-model="apprvdAmt"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Scheme</label> <input id=""
					class="form-control" type="text" name="" ng-model="scheme"
					disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label">Total Asset Cost</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="" class="form-control"
						type="text" name="" accesskey="commas" ng-model="totalAssetCost"
						disabled="disabled">
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Margin Money</label> <input id=""
					class="form-control" type="text" name="" ng-model="marginMoney"
					disabled="disabled">
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3">
				<label class="control-label">Margin Money Instrument</label> <input
					id="" class="form-control" type="text" name=""
					ng-model="marginMoneyInst" disabled="disabled">
			</div>
			<div class="col-md-3">
				<label class="control-label" style="width: 104%;">Margin
					Money Confirmation</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="" class="form-control"
						type="text" name="" accesskey="commas" ng-model="marginMoneyConf"
						disabled="disabled">
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Advanced EMI</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="" class="form-control"
						type="text" name="" accesskey="commas" ng-model="addvncEmi"
						disabled="disabled">
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Processing Fees</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="" class="form-control"
						type="text" name="" accesskey="commas" ng-model="processnFee"
						disabled="disabled">
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3" ng-repeat="data in asstmodal">
				<label class="control-label">Asset Model No</label>
				<div class="input-group input-group-md">
					<span class="input-group-addon" id="sizing-addon3"><i
						class="fa fa-inr"></i></span> <input id="" class="form-control"
						type="text" name="" accesskey="commas" value="{{data}}"
						disabled="disabled">
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset class="formfield" id="addtnal_docs"
		style="margin-bottom: 0px; display: block;">
		<legend>Additional Documents</legend>
		<div class="row clearfix">
			<div class="col-md-3">
				<a><img alt="Document Not available" title="{{appFormName}}"
					accesskey="{{appform}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{appform}}"
					name="{{appformId}}" style="border: none;"> <label
					class="control-label">Application Form</label></a>
			</div>
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{agreemntName}}"
					accesskey="{{agreemnt}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{agreemnt}}"
					name="{{agrmtId}}" style="border: none;"> <br> <label
					class="control-label">Agreement</label>
				</a>
			</div>
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{achName}}"
					accesskey="{{achdata}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{achdata}}"
					name="{{achId}}" style="border: none;"> <label
					class="control-label">ACH/ECS & Cancelled Cheque</label>
				</a>
			</div>
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{disbursName}}"
					accesskey="{{disburstment}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{disburstment}}"
					name="{{disbId}}" style="border: none;"> <label
					class="control-label">Disbursement Kit</label>
				</a>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{addKycName}}"
					accesskey="{{addKyc}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{addKyc}}"
					name="{{addkycId}}" style="border: none;"> <label
					class="control-label">Additional KYC</label>
				</a>
			</div>
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{extraname}}"
					accesskey="{{extra}}" data-toggle="modal" data-target="#myModalnew"
					class="preview" src="{{extra}}" name="{{extraId}}"
					style="border: none;"> <br>
				<label class="control-label">Extra Documents</label>
				</a>
			</div>
			<div class="col-md-3">
				<a> <img alt="Document Not available" title="{{evidencename}}"
					accesskey="{{evidence}}" data-toggle="modal"
					data-target="#myModalnew" class="preview" src="{{evidence}}"
					name="{{evdnId}}" style="border: none;"> <br>
				<label class="control-label">Evidence Images</label>
				</a>
			</div>
		</div>	
	</fieldset> -->
	<div id="custFormPreview" class="modal fade">
		<div class="modal-dialog"
			style="width: 55%; max-height: 600px; height: 65%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Document Preview</h4>
				</div>
				<div class="modal-body" id="img_preview">
					<div class="row clearfix" id="img_panel" style="padding: 15px;">
						<img id="document_preview" src="" style="width: 100%; height: 100%; max-height: 400px" />
						<object id="cirhtml" type="text/html" width="100%" height="620px" style="border: none;"></object>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 
	<div id="myModalnew" class="modal fade">
		<div class="modal-dialog"
			style="width: 55%; max-height: 600px; height: 65%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Document Preview</h4>
				</div>
				<div class="modal-body" id="img_preview">
					<div class="row clearfix" id="img_panel" style="padding: 15px;">
						<img id="document_preview" src=""
							style="width: 100%; height: 100%; max-height: 400px">
						<object id="cirhtml" type="text/html" width="100%" height="620px"
							style="border: none;"></object>
					</div>
					<div class="row clearfix" id="approve_rejectPanel"
						style="margin-top: 10px; width: 100%; display: none; padding: 18px 0px 0px;">
						<div class="col-md-7"
							style="padding-right: 0px; padding-left: 45px;">
							<div class="col-md-4" style="padding: 0px">
								<div class="btn-group" style="width: 128%; height: 34px;">
									<button class="btn btn-default mybtn" id="apprv"
										style="padding: 6px">Approve</button>
									<button class="btn btn-default mybtn" id="rjct"
										style="padding: 6px">Reject</button>
								</div>
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" maxlength="150"
									id="reason" style="display: none; height: 33px; width: 150px;">
							</div>
							<div class="col-md-1" style="margin-top: 15px;">
								<a id="submitreason" style="display: none; margin-left: 105px;">OK</a>
							</div>
						</div>
						<div class="col-md-5 " id="uploadNewimgPanel"
							style="padding: 8px; width: 37%; padding-top: 0px;">
							<div class="col-md-4" style="padding: 0px; width: 32%;">
								<a style="padding: 10px;"><img alt="Preview Not Availeble"
									data-toggle="modal" id="imgpreview2" data-target="#myModalnew"
									class="custom_img_rounded" ng-src="{{uploadedImg2}}"
									style="display: none; margin: 0px; margin-top: -4px;"></a>
							</div>
							<div class="col-md-4" style="padding: 0px; width: 32%;">
								<a style="padding: 10px;"><img alt="Preview Not Availeble"
									data-toggle="modal" id="imgpreview1" data-target="#myModalnew"
									class="custom_img_rounded" ng-src="{{uploadedImg1}}"
									style="display: none; margin: 0px; margin-top: -4px;"></a>
							</div>
							<div class="col-md-4" id="upload_button"
								style="padding: 0px; width: 32%; top: 8px;">
								<input type="submit" class="form-control upload"
									value="Upload Image" dropzone="FileDropZone"
									ng-file-select="onFileSelect($files);" style="" name="File" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div -->
</form>
</div>
<div class="col-md-offset-1 col-md-10" style="text-align: center"
	ng-if="currStage!='BRE'">
	<button style="margin: 20px; text-align: center"
		ng-click="restartClicked()" class="customButton">Restart</button>
</div>