<form id="kyccontainer" name="personalData" novalidate autocomplete="off" accessible-form>
	<div class="getheight" id="kycHeight" slimscroll="{height:405,railVisible:true,alwaysVisible:true}">
		<div class="row clearfix ">
			<div class="col-md-10 col-md-offset-1">
				<!-- <div class="row clearfix" style="margin-bottom: 40px;">
					
					<help style="display:block;margin:15px;">Applicant Photo</help>
					
					<div class="preview" ng-if="!profileImage" ng-style="{'background-image':'url('+selectImgInit+')'}" style="width: 17%; height: 113px; margin-left: 3%">
						<input id="addrIP" type="file" ng-model="addrIP" ngf-select="onselectImg($files,'APPLICANT-PHOTO')" />
						<label for="addrIP" ng-hide="selectImgInit" style="display: block;">
							<img id="selectImgInit" alt="" src="images/camera-128.png" class="img_icon" />
						</label>
					</div>

					<img ng-model="profileImg" id="selectImgInit" alt="" ng-src="{{profileData}}" ng-if="profileImage" style="width: 17%; height: 113px; margin-left: 3%">
					<div style="height: 20px">
						<small ng-show="image_url2" class="size">{{file_size2}}</small>
						<a class="remove_image" ng-show="selectImgInit || profileImage" ng-click="remove_file('APPLICANT-PHOTO','0',selectImgInit)">Remove</a>
					</div>
				</div> -->
				<content-item item="applicantPhoto" imagearray="kycDocImages"></content-item>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Suspected Activity</label>
						<md-select ng-model="applicant.suspected" name="suspected"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
						  <md-option ng-repeat="suspectedActivity in suspectedActivities" value="{{suspectedActivity.view}}">	{{ suspectedActivity.value }}
						  </md-option>
						</md-select>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Credit Card No</label>
						<md-icon class="card" md-font-icon="fa fa-credit-card" aria-label="card"></md-icon>
						<input  name="credit"   ng-pattern="/^[0-9\d]{6}$/" ng-model="applicant.creditCard" md-maxlength="6" only-digits maxlength="6">
						<div ng-messages="personalData.credit.$error" >
		   					<div ng-message="pattern">only 6 digits are</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>Gender</label>
						<md-radio-group ng-model="applicant.gender" layout="row" style="margin-left:100px;" >
					      <md-radio-button value="{{gender.view}}" class="md-primary" ng-repeat=" gender in genders">
					      	{{gender.view}}
					      </md-radio-button>
					    </md-radio-group>
				    </md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Education Qualification</label>
						<md-icon class="stydy" md-font-icon="fa fa-graduation-cap" aria-label="study"></md-icon>
						<md-select name="education"  ng-model="applicant.education" select-required>
						  <md-option ng-value="qualification.view" ng-repeat="qualification in qualifications">
						  	{{ qualification.view }}
						  </md-option>
						</md-select>
						<div ng-messages="personalData.education.$error" >
							<div ng-message="selectrequired">Please select Qualification </div>
						</div>
					</md-input-container>
					
					<div flex="5" hide-xs hide-sm></div>
					
					<md-input-container class="md-block" flex-gt-sm>
						<label>Marital Status</label>
						<md-radio-group ng-model="applicant.maritalStat" layout="row" style="margin-left:100px;" required>
					      <md-radio-button value="{{status.view}}" class="md-primary" ng-repeat=" status in maritalStat">
					      	{{status.view}}
					      </md-radio-button>
					    </md-radio-group>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
			            <label>Date of Birth</label>
			            <md-datepicker ng-model="applicant.dob" name="dob" flex="50"></md-datepicker>
			            <div ng-messages="personalData.dob.$error" class="errorMsg">
						    <div ng-message="required">Please select date of birth </div>
						</div>
			        </md-input-container>

			        <div flex="5" hide-xs hide-sm></div>

			        <md-input-container class="md-block" flex-gt-sm>
			        	<label>Constitution</label>
			        	<md-select name="constitution" ng-model="applicant.constitution" ng-change="onChanged('CONSTITN',constitution)" select-required> 
			        	  <md-option ng-value="constitution.view" ng-repeat="constitution in consitutions">
			        	  	{{ constitution.view }}
			        	  </md-option>
			        	</md-select>
			        	<div ng-messages="personalData.constitution.$error" >
							<div ng-message="selectrequired">Please select Constitution </div>
						</div>
			        </md-input-container>
			    </div>    

			    <div layout-gt-sm="row">
			    	<md-input-container class="md-block" flex-gt-sm>
			    		<label>Loan Amount</label>
			    		<md-icon class="inr" md-font-icon="fa fa-inr" aria-label="Rupee"></md-icon>
			    		<input name="loanamt" ng-model="applicant.application.loanAmt" md-maxlength="12" rupees required >
			    		<div ng-messages="personalData.loanamt.$error"  >
							<div ng-message="required">Please enter loan amount</div>
							<div ng-message="md-maxlength">Only 12 digits allowed</div>
						</div>
			    	</md-input-container>
					
					<div flex="5" hide-xs hide-sm></div>			    	

					<md-input-container class="md-block" flex-gt-sm>
						<label>Tenor in Months</label>
						<input type="text" name="tenor"  ng-model="applicant.application.tenor" ng-pattern="/^[0-9\d]{1,3}$/" only-digits required>
						<div ng-messages="personalData.tenor.$error" >
							<div ng-message="required">Please enter Tenor</div>
							<div ng-message="pattern">Maximum length of Tenor is 3</div>
						</div>
					</md-input-container>

			    </div>

				<!-- <div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<select class="cdl-form-control control-select inputMaterial" id="susPctdFrd" ng-model="applicant.suspected">
							<option selected="selected" value="No">Refer to Credit</option>
							<option value="Suspected Fraud">Suspected Fraud</option>
							<option value="Confirmed Fraud">Confirmed Fraud</option>
						</select>
						<label>Suspected Activity</label>
					</div>
				</div> 
				<div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="cr" ng-model="applicant.creditCard"
							class="cdl-form-control inputMaterial" name="credit" maxlength="6" only-digits/>
						<label>Credit Card No</label>
						<div ng-messages="personalData.$submitted && personalData.credit.$error" class="errorMsg">
		   					<p ng-message="onlydigits">Please enter only digits</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<div class="rc" style="color: inherit;">
							<label style="color: inherit; width: 35%;">Gender*</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label style="float: none; color: inherit;">
								<input type="radio" name="Gender" ng-model="applicant.gender" value="Male"/>Male
							</label>
							<label style="float: none; color: inherit;">
								<input type="radio" name="Gender" value="Female" ng-model="applicant.gender" />Female
							</label>
						</div>
					</div>
				</div>-->

				<!--<div class="row clearfix">
					 <div class="col-md-6 cdl-height form-group">
						<select class="cdl-form-control control-select inputMaterial" id="edu" ng-model="applicant.education" name="education" select-required>
							<option value="">Select Qualification</option>
							<option value="DOCTORATE">DOCTORATE</option>
							<option value="GRADUATE">GRADUATE</option>
							<option value="POST-GRADUATE">POST-GRADUATE</option>
							<option value="PROFESSIONAL">PROFESSIONAL</option>
							<option value="UNDER GRADUATE">UNDER GRADUATE</option>
							<option value="OTHERS">OTHERS</option>
						</select>
						<label>Education Qualification*</label>
						<div ng-messages="personalData.education.$error" ng-show="personalData.$submitted" class="errorMsg">
							<p ng-message="selectrequired">Please select Qualification </p>
						</div>
					</div> 
					
					<div class="col-md-6 cdl-height form-group">
						<div class="rc">
							<label style="color: inherit;">Marital Status*</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label style="float: none; color: inherit;">
								<input type="radio" name="Mstatus" ng-model="applicant.maritalStat" value="Single" />
								Single
							</label>
							<label style="float: none; color: inherit;">
								<input type="radio" name="Mstatus" ng-model="applicant.maritalStat" value="Married" />
								Married
							</label>
						</div>
					</div>
				</div>-->

				<!--<div class="row clearfix">
					 <div class="col-md-6 cdl-height form-group">
					 	<input type="text" name="dob" class="cdl-form-control inputMaterial"  ng-model="applicant.dob" ng-click="openDOBDialog()" uib-datepicker-popup="{{dobFormat}}" is-open="dobPopup.opened" datepicker-options="dateOptions" close-text="Close" ng-pattern="/^[0-9]{2}:[0-9]{2}:[0-9]{4}/i" readonly="true" required/> 
					 	<label>Date of Birth*</label>
					 	<div ng-messages="personalData.$submitted && personalData.dob.$error" class="errorMsg">
						    <p ng-message="pattern">Please select valid date of birth</p>
						    <p ng-message="required">Please select date of birth</p>
						</div>
					</div> 
					<div class="col-md-6 cdl-height form-group">
						<select class="cdl-form-control control-select inputMaterial" name="constitution" ng-model="applicant.constitution" ng-change="onChanged('CONSTITN',constitution)" select-required>
							<option value="">Select Constitution</option>
							<option value="TRUST">TRUST</option>
							<option value="SELF-EMPLOYED">SELF-EMPLOYED</option>
							<option value="SALARIED">SALARIED</option>
							<option value="PARTNERSHIP">PARTNERSHIP</option>
							<option value="PRIVATE LIMITED COMPANY">PRIVATE LIMITED COMPANY</option>
						</select>
						<label>Constitution*</label>
						<div ng-messages="personalData.constitution.$error" ng-show="personalData.$submitted" class="errorMsg">
							<p ng-message="selectrequired">Please select Constitution </p>
						</div>
					</div> 
				</div> -->

				<!--<div class="row clearfix">
					 <div class="col-md-6 cdl-height form-group">
						<i class="fa fa-rupee"></i><input type="text" ng-model="applicant.loanAmt" class="cdl-form-control inputMaterial" name="loanamt" maxlength="12" style="padding-left: 4%" rupees required/>
						<label>Loan Amount*</label>
						<div ng-messages="personalData.loanamt.$touched && personalData.loanamt.$error" class="errorMsg">
		   					<p ng-message="required">Please enter Loan Amount</p>
						</div>
					</div> 
					<div class="col-md-6 cdl-height form-group">
						<div class="div-rupee">
							<i class="fa fa-rupee irupee custom_symbol_rupee"></i>
							<input type="text" class="cdl-form-control inputMaterial" name="loanamt" ng-model="applicant.application.loanAmt" maxlength="12" style="padding-left: 4%" rupees required />
							<label>Loan Amount*</label>
							<div ng-messages="personalData.loanamt.$error" ng-show="personalData.$submitted" class="errorMsg">
							    <p ng-message="required">Please enter Loan Amount</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" name="tenor" class="cdl-form-control inputMaterial" ng-model="applicant.application.tenor" maxlength="3" only-digits required />
						<label>Tenor in Months*</label>
						<div ng-messages="personalData.$submitted && personalData.tenor.$error" class="errorMsg">
							<p ng-message="required">Please enter Tenor</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			<button type="submit" class="customButton next" id="fromKYC" ng-click="onNextClicked(personalData.$valid)">
				Next
				<i class="fa fa-arrow-circle-right"></i>
			</button>
			<button class="customButton save" id="save" ng-click="submitApplication('step3')">
				<i class="fa fa-floppy-o"></i>
				Save
			</button>
		</div>
	</div>
</form>