<form id="kyccontainer">
			<div class="getheight" id="kycHeight" slimscroll="{height:386,railVisible:true}">
				<div class="row clearfix ">
					<!-- <div class="col-sm-8 col-md-8" id="kycDataContainer" style="margin-left: 5%"></div>   end odf col-md-8 -->
					<div class="col-md-10 col-md-offset-1">
						<div class="row clearfix">
							<help style="display:block;margin:15px;">Applicant Photo</help>
							<div class="preview" ng-if="!profileImage"
								ng-style="{'background-image':'url('+selectImgInit+')'}"
								style="width: 17%; height: 113px; margin-left: 3%">
								<input id="addrIP" type="file" ng-model="addrIP"
									ngf-select="onselectImg($files,'APPLICANT-PHOTO')" />
								<label for="addrIP" ng-hide="selectImgInit" style="display: block;">
								<img id="selectImgInit" alt="" src="images/camera-128.png" class="img_icon" />
								</label>
								<!-- <label ng-hide="image_url2">Present Address</label> -->
							</div>

							<img ng-model="profileImg" id="selectImgInit" alt="" ng-src="{{profileData}}" ng-if="profileImage" style="width: 17%; height: 113px; margin-left: 3%">
							<div style="height: 20px">
								<small ng-show="image_url2" class="size">{{file_size2}}</small>
								<a class="remove_image" ng-show="selectImgInit || profileImage"
									ng-click="remove_file('APPLICANT-PHOTO','0',selectImgInit)">Remove</a>
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Suspected Activity</help>
								<select class="customSelect" id="susPctdFrd" ng-model="applicant.suspected">
									<option selected="selected" value="No">Refer to Credit</option>
									<option value="Suspected Fraud">Suspected Fraud</option>
									<option value="Confirmed Fraud">Confirmed Fraud</option>
								</select> <img alt="" src="images/select-arrow.png" class="customarrow" />
							</div>
						</div>
						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Credit Card No</help>
								<input type="text" id="cr" ng-model="applicant.creditCard"
									class="customInput" placeholder="Credit Card No" maxlength="6" />
							</div>
							<div class="col-md-6 height">
								<help>Gender*</help>
								<div class="rc" style="color: inherit;">
									<label class="control-label rlabel" style="color: inherit;">Gender*</label>&nbsp;&nbsp;
									<label class="r1" style="float: none; color: inherit;"><input
										type="radio" name="Gender" checked="checked" value="Male"
										ng-model="applicant.gender" /> Male </label> <label class="r2"
										style="float: none; color: inherit;"><input
										type="radio" name="Gender" value="Female" ng-model="applicant.gender" />
										Female </label>
								</div>
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Education Qualification*</help>
								<select class="customSelect" id="edu" ng-model="applicant.education">
									<option selected="selected" value="">Select Qualification*</option>
									<option value="DOCTORATE">DOCTORATE</option>
									<option value="GRADUATE">GRADUATE</option>
									<option value="POST-GRADUATE">POST-GRADUATE</option>
									<option value="PROFESSIONAL">PROFESSIONAL</option>
									<option value="UNDER GRADUATE">UNDER GRADUATE</option>
									<option value="OTHERS">OTHERS</option>
								</select> <img alt="" src="images/select-arrow.png" class="customarrow" />
							</div>
							<div class="col-md-6 height">
								<div class="rc">
									<label class="control-label rlabel" style="color: inherit;">Marital
										Status*</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="r1"
										style="float: none; color: inherit;"><input
										type="radio" name="Mstatus" ng-model="applicant.maritalStat"
										checked="checked" value="Single" /> Single </label>
										<label class="r2"
										style="float: none; color: inherit;">
										<input type="radio" name="Mstatus" ng-model="applicant.maritalStat" value="Married" />
										Married </label>
								</div>
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Date of Birth*</help>

							 	<input type="text" id="dob" class="customInput" ng-model="applicant.dob" ng-click="openDOBDialog()" uib-datepicker-popup="{{dobFormat}}" is-open="dobPopup.opened" datepicker-options="dateOptions" close-text="Close" ng-pattern="/^[0-9]{2}/[0-9]{2}/[0-9]{4}/i" placeholder="Date of Birth*" readonly="true" /> 
							</div>
							<div class="col-md-6 height">
								<help>Constitution*</help>
								<select class="customSelect" id="constitution"
									ng-model="applicant.constitution"
									ng-change="changeEvent('CONSTITN',constitution)">
									<option ng-selected="true" value="">Select Constitution*</option>
									<option value="TRUST">TRUST</option>
									<option value="SELF-EMPLOYED">SELF-EMPLOYED</option>
									<option value="SALARIED">SALARIED</option>
									<option value="PARTNERSHIP">PARTNERSHIP</option>
									<option value="PRIVATE LIMITED COMPANY">PRIVATE
										LIMITED COMPANY</option>
								</select> <img alt="" src="images/select-arrow.png" class="customarrow" />
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Loan Amount*</help>
								<i class="fa fa-rupee"></i><input type="text" id="lamt"	ng-model="applicant.loanAmt" class="customInput" placeholder="Loan Amount*" maxlength="10" style="padding-left: 4%" rupees />
							</div>
							<div class="col-md-6 height">
								<help>Tenor in Months*</help>
								<input type="text" id="tim" class="customInput"
									ng-model="applicant.tenor" placeholder="Tenure in Months*"
									maxlength="3" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix ">
				<div class="col-md-10 col-md-offset-1">
					<button ui-sref="/cdl/apply.address" class="customButton next" id="fromKYC">Next</button>
					<button class="customButton save" id="save" ng-click="submitApplication('step3')">Save</button>
				</div>
			</div>
		</form>