<form id="pOrder" name="PostIPAForm" novalidate accessible-form>
    <!-- 			<div id="kycHeight"></div> -->
    <div class="row clearfix " style="margin-top: 50px;">
        <div class="col-md-8 col-md-offset-2" id="do">
            <div class="row clearfix customRow">
                <div class="col-md-12" style="border: 01px solid #24A1ED; line-height: 4">
                    <span style="color: #24A1ED">{{fname +" "+ mname +" "+lname}}</span>
                    <span style="float: right;">{{asset.make +" - "+ asset.model}}</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12" style="text-align: right;margin-bottom: 10px;">
                    <button class="customButton" ng-click="onChangeAssetClicked($event)">Change Asset</button>
                </div>
            </div>
            <div class="row clearfix customRow" style="margin-top:30px;">
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" id="apvAmt" ng-model="approvedAmt" class="cdl-form-control inputMaterial" maxlength="10" style="padding-left: 4%" rupees disabled="disabled" />
                        <label>Approved Amount*</label>
                    </div>
                </div>
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <input name="scheme" type="text" class="cdl-form-control inputMaterial" id="scheme" ng-model="scheme" uib-typeahead="schemes for schemes in scmTags" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="onSchemeSelected(scheme)" required/>
                        <label>Scheme*</label>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-messages="PostIPAForm.scheme.$error" ng-show="PostIPAForm.scheme.$touched" class="errorMsg">
                            <p ng-message="required">Please enter scheme</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="assetCost" id="astCst" ng-model="astCst" maxlength="15" rupees style="padding-left: 4%" ng-keyup="calculateValues()" required />
                        <label>Total Asset Cost*</label>
                        <div ng-messages="PostIPAForm.assetCost.$error" ng-show="PostIPAForm.assetCost.$touched" class="errorMsg">
                            <p ng-message="required">Please enter asset cost</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="marginMoney" id="mrgnMny" ng-model="tMrgnMny" maxlength="15" rupees style="padding-left: 4%" ng-keyup="calculateValues()" required/>
                        <label>Margin Money*</label>
                        <div ng-messages="PostIPAForm.marginMoney.$error" ng-show="PostIPAForm.marginMoney.$touched" class="errorMsg">
                            <p ng-message="required">Please enter margin money</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix customRow">
                <div class="col-md-4 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="financeAmt" id="financeAmt" ng-model="financeAmt" rupees style="padding-left: 4%" disabled="disabled" />
                        <label>Finance Amount*</label>
                    </div>
                </div>
                <div class="col-md-4 height" id="mnyInstrDiv">
                    <select class="cdl-form-control control-select inputMaterial" id="mnyInstn" ng-model="mnyInstn" name="moneyInstrument" ng-change="onMoneyInstrumentChanged(mnyInstn)" select-required>
                        <option selected="selected" value="">Select Instrument*</option>
                        <option value="Cash">Cash</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="NEFT">NEFT</option>
                    </select>
                    <label>Margin Money instrument*</label>
                    <div ng-if="PostIPAForm.moneyInstrument.$touched" ng-messages="PostIPAForm.moneyInstrument.$error" class="errorMsg">
                        <p ng-message="selectrequired">Please select instrument</p>
                    </div>
                </div>
                <div class="col-md-4 height" id="mnyCnfmDiv" ng-if="mnyInstn && mnyInstn!=='Cash'">
                    <div class="div-rupee">
                        <input type="text" class="cdl-form-control inputMaterial" name="mnyCnfm" ng-model="$parent.mnyCnfm" maxlength="25" style="padding-left: 4%" required />
                        <label>Margin Money Confirmation*</label>
                        <div ng-messages="PostIPAForm.mnyCnfm.$error" ng-show="PostIPAForm.mnyCnfm.$touched" class="errorMsg">
                            <p ng-message="required">Please enter margin money confirmation</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix customRow">
                <div class="col-md-4 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="emi" id="emi" ng-model="temi" rupees style="padding-left: 4%" ng-disabled="true" />
                        <label>EMI</label>
                    </div>
                </div>
                <div class="col-md-4 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="aEMI" id="aEMI" ng-model="tadEmi" rupees style="padding-left: 4%" ng-disabled="true" />
                        <label>Advance EMI</label>
                    </div>
                </div>
                <div class="col-md-4 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" name="prcsfee" id="prcsfee" ng-model="prcsfee" rupees style="padding-left: 4%" ng-disabled="true" />
                        <label>Processing Fees</label>
                    </div>
                </div>
            </div>
            <div class="row clearfix customRow">
                <div class="col-md-3 height">
                    <input type="text" id="ipaTenor" class="cdl-form-control inputMaterial" ng-model="ipaTenor" disabled="disabled" />
                    <label>Tenor</label>
                </div>
                <div class="col-md-3 height">
                    <input type="text" id="ipaAdvEmiTenor" class="cdl-form-control inputMaterial" ng-model="ipaAdvEmiTenor" disabled="disabled" />
                    <label>Advance EMI Tenor</label>
                </div>
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" id="ipaNetFundingAmt" ng-model="ipaNetFundingAmt" style="padding-left: 4%" rupees disabled="disabled" />
                        <label>Net Funding Amount</label>
                    </div>
                </div>
                <div class="col-md-3 height">
                    <div class="div-rupee">
                        <i class="fa fa-rupee irupee custom_symbol_rupee"></i>
                        <input type="text" class="cdl-form-control inputMaterial" id="ipaNetDisbAmt" ng-model="ipaNetDisbAmt" style="padding-left: 4%" rupees disabled="disabled" />
                        <label>Net Disbursal Amount</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- 	Is Invalid :{{PostIPAForm.$invalid}}
	{{PostIPAForm}} -->
    <div class="row clearfix ">
        <div class="col-md-10 col-md-offset-1" style="text-align: center;">
            <!-- 		<span style="text-align: center;">Proceed for DDE</span> -->
            <button type="button" class="customButton" ng-click="onShowDeductionClicked($event)">Other Deductions</button>
            <button type="submit" class="customButton" id="postNext" style="text-align: center; float: initial; margin-left: 10px;" ng-click="sendPostIPAData(PostIPAForm.$invalid)">Next</button>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>
</form>
