
<div id="pOrder">
<!-- 			<div id="kycHeight"></div> -->
	<div class="row clearfix ">
		<div class="col-md-8 col-md-offset-2" id="do">
			<div class="row clearfix customRow">
				<div class="col-md-12"
					style="border: 01px solid #24A1ED; line-height: 4">
					<span style="color: #24A1ED">{{fname +" "+ mname +" "+lname}}</span>
					<span style="float: right;">{{mk +" - "+ mdl}}</span>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12" style="text-align: right;">
					<button class="customButton" data-toggle="modal" data-target="#assetModel">
						Change Asset
					</button>
				</div>
			</div>
			<div class="row clearfix customRow">
				<div class="col-md-4 height">
					<help>Approved Amount*</help>
					<i class="fa fa-rupee"></i><input type="text" id="apvAmt"
						ng-model="apvAmt" class="customInput" placeholder="Approved_Amount*" maxlength="10" style="padding-left: 4%" rupees disabled="disabled" />
				</div>
				<div class="col-md-4 height">
					<help>Scheme*</help>
<!-- 					<input type="text" class="customInput" id="scheme" ng-model="scheme"
						typeahead="state for state in scmTags | limitTo:8" placeholder="Scheme" /> -->
						<input type="text" class="customInput" id="scheme" ng-model="scheme" uib-typeahead="schemes for schemes in scmTags" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="onSchemeSelected(scheme)" placeholder="Scheme" />
				</div>
				<div class="col-md-4 height">
					<help style="display:inline">Total Asset Cost*</help>
					<i class="fa fa-rupee"></i><input type="text" class="customInput" id="astCst" ng-model="astCst" maxlength="15" placeholder="Total Asset Cost*" style="padding-left: 4%" rupees />
				</div>
			</div>

			<div class="row clearfix customRow">
				<div class="col-md-4 height">
					<help>Margin Money*</help>
					<input type="text" class="customInput" id="mrgnMny"
						ng-model="mrgnMny" placeholder="Margin Money*"
						style="padding-left: 4%" rupees disabled="disabled" />
				</div>
				<div class="col-md-4 height" id="mnyInstrDiv">
					<help>Margin Money instrument*</help>
					<select id="mnyInstn" class="customSelect" ng-model="mnyInstn"
						ng-change="changeEvent('MNY_INTRMNT',mnyInstn)">
						<option value="" ng-selected="true">Select Margin Money Instrument</option>
						<option value="Cash">Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Credit Card">Credit Card</option>
						<option value="NEFT">NEFT</option>
					</select> <img alt="" src="images/select-arrow.png" class="customarrow" />
				</div>
				<div class="col-md-4 height" id="mnyCnfmDiv">
					<help>Margin Money Confirmation*</help>
					<input type="text" class="customInput" id="mnyCnfm" ng-model="mnyCnfm"
						placeholder="Margin Money Confirmation*" style="padding-left: 4%" />
				</div>
			</div>

			<div class="row clearfix customRow">
				<div class="col-md-4 height">
					<help>EMI*</help>
					<input type="text" id="emi" class="customInput"
						placeholder=" EMI" disabled="disabled" />
				</div>
				
				<div class="col-md-4 height">
					<help>Advance EMI*</help>
					<input type="text" id="aEMI" class="customInput"
						placeholder="Advance EMI" disabled="disabled" />
				</div>
				<div class="col-md-4 height">
					<help>Processing Fees*</help>
					<i class="fa fa-rupee"></i><input type="text"
						class="customInput" id="prcsfee" ng-model="prcsfee"  maxlength="10" placeholder="Processing Fees" style="padding-left: 4%" rupees disabled="disabled" />
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row clearfix ">
		<div class="col-md-10 col-md-offset-1" style="text-align: center;">
<!-- 		<span style="text-align: center;">Proceed for DDE</span> -->
			<button class="customButton Pnext" id="postNext"
				style="text-align: center; float: initial; margin-left: 10px;">Next</button>
		</div>
		<!-- <div class="col-md-4"></div> -->
	</div>
</div>