<style>
.btn-view-do {
    width: 175px;
    height: 100px;
    line-height: 7;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*     background-color: #F6F6F6; */
    border: 1px solid #CECFD1;
    text-align: center;
    margin-bottom: 0px;
}
</style>
<fieldset id="additionalDocfinal" style="text-align: center;margin-top:30px;">
    <div class="getheight text-center" id="kycHeight">
        <div class="row clearfix" ng-show="statusObject.sAppStat==='Approved'">
            <!-- <div class="preview" accesskey="{{postIpaPDFCode}}"
				data-toggle="modal" data-target="#myModalnew"
				style="display: inline-block;">
				<span>View PDF</span>
			</div> -->
            <div class="btn-view-do" style="display: inline-block;" ng-click="shwPDFModal(doResponse,referenceID,true)">
                <span>View PDF</span>
            </div>
            <label class="control-label" style="display: block;">
                POST DELIVERY ORDER
            </label>
        </div>
        <div class="row clearfix">
            <button class="customButton" style="margin-top: 2%;margin-right: 4%;" ng-click="sendDOMail(doResponse.sDocID,referenceID)">Submit</button>
            <button class="customButton" style="margin-top: 2%;" ng-click="onHomeClicked()">Home</button>
        </div>
    </div>
</fieldset>
