<form id="employmentContainer" name="professionalData" novalidate accessible-form>
	<div class="getheight" id="kycHeight" slimscroll="{height:405,railVisible:true}">
		<div class="row clearfix ">
			<div class="col-md-10 col-md-offset-1">
				<div class="row clearfix" style="margin-top: 40px;">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" ng-model="applicant.empl.emplName" id="wrkename" class="cdl-form-control inputMaterial" uib-typeahead="employers for employers in getEmployerNames($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" maxlength="70" name="empname" required/>
						<label>Employer Name*</label>
						<div ng-messages="professionalData.empname.$touched && professionalData.empname.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Employer name</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<select class="cdl-form-control control-select inputMaterial" ng-model="applicant.empl.emplType" id="wrketype" name="emptype" ng-change="onChanged('WRKTYPE',applicant.empl.emplType)" ng-disabled="applicant.constitution === 'SELF-EMPLOYED'" select-required>
							<option value="">Select	Employment Type</option>
							<option ng-if="applicant.constitution === 'SELF-EMPLOYED'" value="SELF-EMPLOYED">SELF-EMPLOYED</option>
							<option value="PROFESSIONAL">PROFESSIONAL</option>
							<option value="RETIRED">RETIRED</option>
							<option value="SALARIED">SALARIED</option>
							<option value="OTHERS">OTHERS</option>
						</select> 
						<label>Employment Type*</label>
						<div ng-messages="professionalData.emptype.$error" ng-show="professionalData.emptype.$touched" class="errorMsg">
							<p ng-message="selectrequired">Please select Employment type </p>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					
					<div class="col-md-12 cdl-height form-group">
						<input type="text" id="wrka1" ng-model="applicant.empl.emplAddr1" class="cdl-form-control inputMaterial" capitalize style="width: 93%" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" name="empadd1" required/>
						<label>Address Line 1*</label>
						<div ng-messages="professionalData.empadd1.$touched && professionalData.empadd1.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Address line 1</p>
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrka2" ng-model="applicant.empl.emplAddr2" class="cdl-form-control inputMaterial" name="empadd2" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize />
						<label>Address Line 2</label>
						<div ng-messages="professionalData.empadd2.$touched && professionalData.empadd2.$error" class="errorMsg">
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrka3" ng-model="applicant.empl.emplAddr3"
							class="cdl-form-control inputMaterial" name="empadd3" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize />
						<label>Address Line 3</label>
						<div ng-messages="professionalData.empadd3.$touched && professionalData.empadd3.$error" class="errorMsg">
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
				</div>


				<div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" ng-model="applicant.empl.emplPin" id="wrkpin" class="cdl-form-control inputMaterial" data-ng-keyup="pinService(applicant.empl.emplPin,'wrkpin')" maxlength="6" name="emppin" required only-digits/>
						<label>Pincode*</label>
						<div ng-messages="professionalData.emppin.$touched && professionalData.emppin.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Pincode</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<div class="col-md-6" style="padding: 0px;">
							<input type="text" class="cdl-form-control inputMaterial city" ng-pattern="/^[A-Za-z ]*$/" ng-disabled="true" ng-model="applicant.empl.emplCity" id="wrkcity" required name="empcity" />
							<label style="left: 0px;">City*</label>
							<div ng-messages="professionalData.empcity.$touched && professionalData.empcity.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Employer city</p>
	   						<p ng-message="pattern">Please enter valid characters</p>
							</div>
						</div>
						<div class="col-md-6" style="padding: 0px;">
							<input type="text" id="wrkstate" ng-model="applicant.empl.emplState" ng-pattern="/^[A-Za-z ]*$/" ng-disabled="true" class="cdl-form-control inputMaterial state" required name="empstate" />

							<label class="margin_state" style="left: 15px;margin: 0px;">State*</label>
							<div ng-messages="professionalData.empstate.$touched && professionalData.empstate.$error" class="errorMsg">
	   						<p ng-message="required">Please enter employer state</p>
	   						<p ng-message="pattern">Please enter valid characters</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-2 cdl-height form-group">
						<input type="text" id="wrkstd" ng-model="applicant.empl.emplStd" class="cdl-form-control inputMaterial" maxlength="5" name="empstd" required only-digits/>
						<label>STD Code*</label>
						<div ng-messages="professionalData.empstd.$touched && professionalData.empstd.$error" class="errorMsg">
	   						<p ng-message="required">Please enter STD code</p>
						</div>
					</div>
					<div class="col-md-4 cdl-height form-group">
						<input type="text" id="wrkphn" ng-model="applicant.empl.emplLandLine" class="cdl-form-control inputMaterial" maxlength="10"
							style="width: 78%;" only-digits/>
						<label>Landline Number</label>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrkmob" ng-model="applicant.empl.emplMob" class="cdl-form-control inputMaterial" maxlength="10" name="empofcmob" only-digits required/>
						<label>Office Mobile*</label>
						<div ng-messages="professionalData.empofcmob.$touched && professionalData.empofcmob.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Office mobile</p>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrkemail" ng-model="applicant.empl.emplEmail" class="cdl-form-control inputMaterial" name="empemail" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required/>
						<label>Email*</label>
						<div ng-messages="professionalData.empemail.$touched && professionalData.empemail.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Email ID</p>
	   						<p ng-message="pattern">Please enter valid Email ID</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrktwe" ng-model="applicant.empl.emplMonthWithEmp" class="cdl-form-control inputMaterial" maxlength="3" name="monthwithemp" only-digits required/>
						<label>Months with Current Employer*</label>
						<div ng-messages="professionalData.monthwithemp.$touched && professionalData.monthwithemp.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Month with current employer</p>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-6 cdl-height form-group"
						ng-if="applicant.empl.emplType!='SELF-EMPLOYED'">
						<div class="div-rupee">
							<i class="fa fa-rupee irupee custom_symbol_rupee"></i>
							<input type="text" id="wrkLstMnthSal" ng-model="applicant.empl.emplSalary"	class="cdl-form-control inputMaterial" maxlength="12" name="lastmonth" style="padding-left: 4%" rupees required/>
							<label>Last Month Salary*</label>
							<div ng-messages="professionalData.lastmonth.$touched && professionalData.lastmonth.$error" class="errorMsg">
		   						<p ng-message="required">Please enter Last month salary</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group" ng-if="applicant.empl.emplType =='SELF-EMPLOYED'">
						<div class="div-rupee">
							<i class="fa fa-rupee irupee custom_symbol_rupee"></i>
							<input type="text"
								id="itReturn" ng-model="applicant.empl.emplITReturn"
								class="cdl-form-control inputMaterial" name="itreturn" maxlength="12" style="padding-left: 4%" rupees required/>
							<label>Last Year IT Return*</label>
							<div ng-messages="professionalData.itreturn.$touched && professionalData.itreturn.$error" class="errorMsg">
		   						<p ng-message="required">Please enter Last year IT return</p>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix ">
		<div class="col-md-10 col-md-offset-1">
			<button class="customButton previous" ng-click="onPreviousClicked('/cdl/apply.address')">Previous</button>
			<!-- ng-disabled="professionalData.$invalid" -->
			<!-- <button ui-sref="/cdl/apply.asset" class="customButton next" ng-disabled="professionalData.$invalid" id="fromemployment" >Next</button> -->
			<button type="submit" class="customButton next" id="fromemployment" ng-click="onNextClicked('/cdl/apply.asset',professionalData.$invalid)">Next</button>
				<button class="customButton save" id="save" ng-click="submitApplication('step3')">Save</button>
		</div>
	</div>
</form>