<form id="employmentContainer" name="professionalData" novalidate autocomplete="off" accessible-form>
	<div class="getheight" id="kycHeight" slimscroll="{height:405,railVisible:true,alwaysVisible:true}">
		<div class="row clearfix ">
			<div class="col-md-10 col-md-offset-1">
			
				<div layout-gt-sm="row">
					
					<md-autocomplete
						  md-floating-label="Employer Name"
						  md-input-name="empname"
						  md-selected-item="applicant.empl.emplName"
						  md-search-text="searchText"
				          md-items=" item in employerNames.querySearch(searchText)"
				          md-item-text="item"
				          md-min-length="0"
				          required
				          flex="50"
				          >
				        <md-item-template>
				          <span md-highlight-text="searchText" md-highlight-flags="^i">
				          	{{item}}
				          </span>
				        </md-item-template>
				        <md-not-found>
				          No employer matching "{{searchText}}" were found.
				        </md-not-found>
				        <div ng-messages="professionalData.empname.$error" >
	   						<div ng-message="required">Please enter Employer name</div>
						</div>
				    </md-autocomplete>
					
					
					<!-- <md-input-container class="md-block" flex-gt-sm >
						<label>Employer Name</label>
						<input ng-model="applicant.empl.emplName" uib-typeahead="employers for employers in getEmployerNames($viewValue)" typeahead-min-length="3" typeahead-loading="loadingLocations" typeahead-no-results="noResults" md-maxlength="70" name="empname" required >
						<div ng-messages="professionalData.empname.$error" >
	   						<div ng-message="required">Please enter Employer name</div>
						</div>
					</md-input-container> -->

					<div flex="5" hide-xs hide-sm></div>

					<md-input-container class="md-block" flex-gt-sm >
						<label>Employment Type</label>
						<md-select ng-model="applicant.empl.emplType" name="emptype" ng-change="onChanged('WRKTYPE',applicant.empl.emplType)" ng-disabled="applicant.constitution === 'SELF-EMPLOYED'" select-required> 
						  <md-option ng-value="employment.view" ng-repeat="employment in employmentTypes">
						  	{{ employment.view }}
						  </md-option>
						</md-select>
						<div ng-messages="professionalData.emptype.$error" >
							<div ng-message="selectrequired">Please select Employment type </div>
						</div>
					</md-input-container>
					
				</div>

				<!-- <div class="row clearfix" style="margin-top: 40px;">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" ng-model="applicant.empl.emplName" id="wrkename" class="cdl-form-control inputMaterial" uib-typeahead="employers for employers in getEmployerNames($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" maxlength="70" name="empname" required/>
						<label>Employer Name*</label>
						<div ng-messages="professionalData.empname.$touched && professionalData.empname.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Employer name</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<select class="cdl-form-control control-select inputMaterial" ng-model="applicant.empl.emplType" id="wrketype" name="emptype" ng-change="onChanged('WRKTYPE',applicant.empl.emplType)" ng-disabled="applicant.constitution === 'SELF-EMPLOYED'" select-required>
							<option value="">Select	Employment Type</option>
							<option ng-if="applicant.constitution === 'SELF-EMPLOYED'" value="SELF-EMPLOYED">SELF-EMPLOYED</option>
							<option value="PROFESSIONAL">PROFESSIONAL</option>
							<option value="RETIRED">RETIRED</option>
							<option value="SALARIED">SALARIED</option>
							<option value="OTHERS">OTHERS</option>
						</select> 
						<label>Employment Type*</label>
						<div ng-messages="professionalData.emptype.$error" ng-show="professionalData.emptype.$touched" class="errorMsg">
							<p ng-message="selectrequired">Please select Employment type </p>
						</div>
					</div>
				</div> -->

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>Address Line 1</label>
						<input name="empadd1" ng-model="applicant.empl.emplAddr1" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" required capitalize >
						<div ng-messages="professionalData.empadd1.$error" >
	   						<p ng-message="required">Please enter Address line 1</p>
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</md-input-container>

				</div>	

				<!-- <div class="row clearfix">
					
					<div class="col-md-12 cdl-height form-group">
						<input type="text" id="wrka1" ng-model="applicant.empl.emplAddr1" class="cdl-form-control inputMaterial" capitalize style="width: 93%" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" name="empadd1" required/>
						<label>Address Line 1*</label>
						<div ng-messages="professionalData.empadd1.$touched && professionalData.empadd1.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Address line 1</p>
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
				</div> -->

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>Address Line 2</label>
						<input name="empadd2" ng-model="applicant.empl.emplAddr2" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize>
						<div ng-messages="professionalData.empadd2.$error" >
	   						<div ng-message="pattern">Please enter valid Address</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>					

					<md-input-container class="md-block" flex-gt-sm >
						<label>Address Line 3</label>
						<input name="empadd3" ng-model="applicant.empl.emplAddr3" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize>
						<div ng-messages="professionalData.empadd3.$error" >
	   						<div ng-message="pattern">Please enter valid Address</div>
						</div>
					</md-input-container>

				</div>	

				<!-- <div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrka2" ng-model="applicant.empl.emplAddr2" class="cdl-form-control inputMaterial" name="empadd2" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize />
						<label>Address Line 2</label>
						<div ng-messages="professionalData.empadd2.$touched && professionalData.empadd2.$error" class="errorMsg">
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrka3" ng-model="applicant.empl.emplAddr3"
							class="cdl-form-control inputMaterial" name="empadd3" ng-pattern="/^[a-zA-Z\d\s#,.\/\\]+$/" capitalize />
						<label>Address Line 3</label>
						<div ng-messages="professionalData.empadd3.$touched && professionalData.empadd3.$error" class="errorMsg">
	   						<p ng-message="pattern">Please enter valid Address</p>
						</div>
					</div>
				</div> -->


				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>Pincode</label>
						<input name="emppin" ng-model="applicant.empl.emplPin" data-ng-keyup="pinService(applicant.empl.emplPin,'wrkpin')" name="emppin" ng-pattern="/^[0-9\d]{6}$/" maxlength="6" required only-digits>
						<div ng-messages="professionalData.emppin.$error">
	   						<div ng-message="required">Please enter Pincode</div>
	   						<div ng-message="pattern">Please enter valid Pincode</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>	

					<md-input-container class="md-block" flex-gt-sm >
						<label>City</label>
						<input name="empcity" ng-disabled="true" ng-model="applicant.empl.emplCity"  required >
						<div ng-messages="professionalData.empcity.$error" >
	   						<div ng-message="required">Please enter Employer city</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>	

					<md-input-container class="md-block" flex-gt-sm>
						<label>State</label>
						<input name="empstate" ng-model="applicant.empl.emplState" ng-disabled="true" required >
						<div ng-messages="professionalData.empstate.$error" >
	   						<div ng-message="required">Please enter employer state</div>
						</div>
					</md-input-container>

				</div>	

				<!-- <div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" ng-model="applicant.empl.emplPin" id="wrkpin" class="cdl-form-control inputMaterial" data-ng-keyup="pinService(applicant.empl.emplPin,'wrkpin')" maxlength="6" name="emppin" required only-digits/>
						<label>Pincode*</label>
						<div ng-messages="professionalData.emppin.$touched && professionalData.emppin.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Pincode</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<div class="col-md-6" style="padding: 0px;">
							<input type="text" class="cdl-form-control inputMaterial city" ng-disabled="true" ng-model="applicant.empl.emplCity" id="wrkcity" required name="empcity" />
							<label style="left: 0px;">City*</label>
							<div ng-messages="professionalData.empcity.$touched && professionalData.empcity.$error" class="errorMsg">
	   							<p ng-message="required">Please enter Employer city</p>
							</div>
						</div>
						<div class="col-md-6" style="padding: 0px;">
							<input type="text" id="wrkstate" ng-model="applicant.empl.emplState" ng-disabled="true" class="cdl-form-control inputMaterial state" required name="empstate" />

							<label class="margin_state" style="left: 15px;margin: 0px;">State*</label>
							<div ng-messages="professionalData.empstate.$touched && professionalData.empstate.$error" class="errorMsg">
	   						<p ng-message="required">Please enter employer state</p>
							</div>
						</div>
					</div>
				</div> -->

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>STD Code</label>
						<input name="empstd" ng-model="applicant.empl.emplStd"  ng-pattern="/^[0-9\d]{3,5}$/" required only-digits maxlength="5">
						<div ng-messages="professionalData.empstd.$error" >
	   						<div ng-message="required">Please enter STD code</div>
	   						<div ng-message="pattern">Please enter valid STD code</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>	

					<md-input-container class="md-block" flex-gt-sm>
						<label>Landline Number</label>
						<input ng-model="applicant.empl.emplLandLine" name="empLandline"  only-digits ng-pattern="/^[0-9\d]{10}$/" maxlength="10">
						<div ng-messages="professionalData.empLandline.$error" >
	   						<div ng-message="pattern">Please enter valid LandLine Number</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>	

					<md-input-container class="md-block" flex-gt-sm>
						<label>Office Mobile</label>
						<input name="empofcmob" ng-model="applicant.empl.emplMob"  ng-pattern="/^[0-9\d]{10}$/" only-digits required maxlength="10">
						<div ng-messages="professionalData.empofcmob.$error" >
	   						<div ng-message="required">Please enter Office mobile</div>
	   						<div ng-message="pattern">Please enter valid Office mobile</div>
						</div>
					</md-input-container>

				</div>	

				<!-- <div class="row clearfix">
					<div class="col-md-2 cdl-height form-group">
						<input type="text" id="wrkstd" ng-model="applicant.empl.emplStd" class="cdl-form-control inputMaterial" maxlength="5" name="empstd" required only-digits/>
						<label>STD Code*</label>
						<div ng-messages="professionalData.empstd.$touched && professionalData.empstd.$error" class="errorMsg">
	   						<p ng-message="required">Please enter STD code</p>
						</div>
					</div>
					<div class="col-md-4 cdl-height form-group">
						<input type="text" id="wrkphn" ng-model="applicant.empl.emplLandLine" class="cdl-form-control inputMaterial" maxlength="10"
							style="width: 78%;" only-digits/>
						<label>Landline Number</label>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrkmob" ng-model="applicant.empl.emplMob" class="cdl-form-control inputMaterial" maxlength="10" name="empofcmob" only-digits required/>
						<label>Office Mobile*</label>
						<div ng-messages="professionalData.empofcmob.$touched && professionalData.empofcmob.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Office mobile</p>
						</div>
					</div>
				</div> -->

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>Email</label>
						<input name="empemail" ng-model="applicant.empl.emplEmail" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required>
						<div ng-messages="professionalData.empemail.$error" >
	   						<div ng-message="required">Please enter Email ID</div>
	   						<div ng-message="pattern">Please enter valid Email ID</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>Months with Current Employer</label>
						<input name="monthwithemp" ng-model="applicant.empl.emplMonthWithEmp"  only-digits required ng-pattern="/^[0-9\d]{1,3}$/" maxlength="3">
						<div ng-messages="professionalData.monthwithemp.$error" >
	   						<div ng-message="required">Please enter Month with current employer</div>
	   						<div ng-message="pattern">Please enter valid Months</div>
						</div>
					</md-input-container>

				</div>	

				<!-- <div class="row clearfix">
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrkemail" ng-model="applicant.empl.emplEmail" class="cdl-form-control inputMaterial" name="empemail" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required/>
						<label>Email*</label>
						<div ng-messages="professionalData.empemail.$touched && professionalData.empemail.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Email ID</p>
	   						<p ng-message="pattern">Please enter valid Email ID</p>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group">
						<input type="text" id="wrktwe" ng-model="applicant.empl.emplMonthWithEmp" class="cdl-form-control inputMaterial" maxlength="3" name="monthwithemp" only-digits required/>
						<label>Months with Current Employer*</label>
						<div ng-messages="professionalData.monthwithemp.$touched && professionalData.monthwithemp.$error" class="errorMsg">
	   						<p ng-message="required">Please enter Month with current employer</p>
						</div>
					</div>
				</div> -->

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm >
						<label>Last Month Salary</label>
						<md-icon class="inr" md-font-icon="fa fa-inr" aria-label="inr"></md-icon>
						<input name="lastmonth" ng-model="applicant.empl.emplSalary" ng-pattern="/^[0-9\d,]{1,17}$/" maxlength="17" rupees required>
						<div ng-messages="professionalData.lastmonth.$error" >
		   					<div ng-message="required">Please enter Last month salary</div>
		   					<div ng-message="pattern">Please enter valid salary</div>
						</div>
					</md-input-container>

					<div flex="5" hide-xs hide-sm></div>

					<!-- <md-input-container class="md-block" flex-gt-sm ng-if="applicant.empl.emplType =='SELF-EMPLOYED'">
						<label>Last Year IT Return</label>
						<input name="itreturn" ng-model="applicant.empl.emplITReturn" ng-pattern="/^[0-9\d,]{1,17}$/" rupees  required> 
						<div ng-messages=" professionalData.itreturn.$error" >
		   					<div ng-message="required">Please enter Last year IT return</div>
		   					<div ng-message="pattern">Please enter valid amount</div>
						</div>
					</md-input-container> -->

				</div>	

				<!-- <div class="row clearfix">
					<div class="col-md-6 cdl-height form-group"
						ng-if="applicant.empl.emplType!='SELF-EMPLOYED'">
						<div class="div-rupee">
							<i class="fa fa-rupee irupee custom_symbol_rupee"></i>
							<input type="text" id="wrkLstMnthSal" ng-model="applicant.empl.emplSalary"	class="cdl-form-control inputMaterial" maxlength="12" name="lastmonth" style="padding-left: 4%" rupees required/>
							<label>Last Month Salary*</label>
							<div ng-messages="professionalData.lastmonth.$touched && professionalData.lastmonth.$error" class="errorMsg">
		   						<p ng-message="required">Please enter Last month salary</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 cdl-height form-group" ng-if="applicant.empl.emplType =='SELF-EMPLOYED'">
						<div class="div-rupee">
							<i class="fa fa-rupee irupee custom_symbol_rupee"></i>
							<input type="text"
								id="itReturn" ng-model="applicant.empl.emplITReturn"
								class="cdl-form-control inputMaterial" name="itreturn" maxlength="12" style="padding-left: 4%" rupees required/>
							<label>Last Year IT Return*</label>
							<div ng-messages="professionalData.itreturn.$touched && professionalData.itreturn.$error" class="errorMsg">
		   						<p ng-message="required">Please enter Last year IT return</p>
							</div>
						</div>						
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="row clearfix ">
		<div class="col-md-10 col-md-offset-1">
			<button type="button" class="customButton previous" ng-click="onPreviousClicked('/cdl/apply.address',professionalData.$valid)">
				<i class="fa fa-arrow-circle-left"></i>	
				Previous
			</button>
			<button type="submit" class="customButton next" id="fromemployment"  ng-click="onNextClicked(professionalData.$valid)">
				Next
				<i class="fa fa-arrow-circle-right"></i>
			</button>
			<button class="customButton save" id="save" ng-click="submitApplication('step3')">Save</button>
		</div>
	</div>
</form>