<form id="employmentContainer" >
			<div class="getheight" id="kycHeight" slimscroll="{height:386,railVisible:true}">
				<div class="row clearfix ">
					<div class="col-md-10 col-md-offset-1">
						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Employer Name*</help>
								<input type="text" ng-model="applicant.empl.emplName" id="wrkename" class="customInput" uib-typeahead="employers for employers in getEmployerNames($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" maxlength="70"placeholder="Employer Name*" />
							</div>
							<div class="col-md-6 height">
								<help>Employment Type*</help>
								<select class="customSelect" ng-model="applicant.empl.emplType" id="wrketype"
									
									ng-change="changeEvent('WRKTYPE',applicant.empl.emplType)">
									<option ng-selected="true" value="">Select
										Employment Type*</option>
									<option value="SELF-EMPLOYED">SELF-EMPLOYED</option>
									<option value="PROFESSIONAL">PROFESSIONAL</option>
									<option value="RETIRED">RETIRED</option>
									<option value="SALARIED">SALARIED</option>
									<option value="OTHERS">OTHERS</option>
								</select> <img alt="" src="images/select-arrow.png" class="customarrow" />
							</div>
						</div>

						<div class="row clearfix customRow">
							
							<div class="col-md-12 height">
								<help>Address Line 1*</help>
								<input type="text" id="wrka1" ng-model="applicant.empl.emplAddr1"
									class="customInput" placeholder="Address Line 1*" capitalize
									style="width: 93%" />
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Address Line 2</help>
								<input type="text" id="wrka2" ng-model="applicant.empl.emplAddr2"
									class="customInput" placeholder="Address Line 2" capitalize />
							</div>
							<div class="col-md-6 height">
								<help>Address Line 3</help>
								<input type="text" id="wrka3" ng-model="applicant.empl.emplAddr3"
									class="customInput" placeholder="Address Line 3" capitalize />
							</div>
						</div>


						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Pincode*</help>
								<input type="text" ng-model="applicant.empl.emplPin" id="wrkpin" class="customInput"
									placeholder="Pincode*" maxlength="6" />
							</div>
							<div class="col-md-6 height">
								<span>
									<help>City*</help>
									<input type="text" class="customInput city"
										disabled="disabled" ng-model="applicant.empl.emplCity" id="wrkcity" placeholder="City*"
										style="width: 45%;" />
								</span>
								<span>
									<help class="margin_state">State*</help>
									<input type="text" id="wrkstate" ng-model="applicant.empl.emplState" disabled="disabled"
										class="customInput state" placeholder="State" />
								</span>
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-2 height">
								<help>STD Code*</help>
								<input type="text" id="wrkstd" ng-model="applicant.empl.emplStd" class="customInput"
									placeholder="STD Code*" maxlength="5" />
							</div>
							<div class="col-md-4 height">
								<help>Landline Number</help>
								<input type="text" id="wrkphn" ng-model="applicant.empl.emplLandLine" class="customInput"
									placeholder="Landline Phone" maxlength="10"
									style="width: 78%;" />
							</div>
							<div class="col-md-6 height">
								<help>Office Mobile*</help>
								<input type="text" id="wrkmob" ng-model="applicant.empl.emplMob" class="customInput"
									placeholder="Office Mobile*" maxlength="10" />
							</div>
						</div>

						<div class="row clearfix customRow">
							<div class="col-md-6 height">
								<help>Email*</help>
								<input type="text" id="wrkemail" ng-model="applicant.empl.emplEmail" class="customInput"
									placeholder="Email*" />
							</div>
							<div class="col-md-6 height">
								<help>Months with Current Employer*</help>
								<input type="text" id="wrktwe" ng-model="applicant.empl.emplMonthWithEmp" class="customInput"
									placeholder="Months with Current Employer*" maxlength="3" />
							</div>
						</div>
						<div class="row clearfix customRow">
							<div class="col-md-6 height"
								ng-show="applicant.empl.emplType!='SELF-EMPLOYED'">
								<help>Last Month Salary*</help>
								<i class="fa fa-rupee"></i> <input type="text"
									id="wrkLstMnthSal" ng-model="applicant.empl.emplSalary"	class="customInput" maxlength="12" placeholder="Last Month salary*" style="padding-left: 4%" rupees />
							</div>
							<div class="col-md-6 height"
								ng-show="applicant.empl.emplType =='SELF-EMPLOYED'">
								<help>Last Year IT Return*</help>
								<i class="fa fa-rupee"></i> <input type="text"
									id="wrkGrsAnnual" ng-model="applicant.empl.emplITReturn"
									class="customInput" placeholder="Last Year IT Return*" maxlength="12" style="padding-left: 4%" rupees />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row clearfix ">
				<div class="col-md-10 col-md-offset-1">
					<button  ui-sref="/cdl/apply.address" class="customButton previous">Previous</button>
					<button ui-sref="/cdl/apply.asset" class="customButton next" id="fromemployment">Next</button>
						<button class="customButton save" id="save" ng-click="submitApplication('step3')">Save</button>
				</div>
			</div>
		</form>