<style>
select.form-control {
    width: 100%;
}

.matrixBtn {
    padding-left: 8px;
    margin: 5px 10px;
    min-width: 133px;
    display: inline-block;
    border: medium none;
}

#msform fieldset {
    border: 1px solid #CFCFCF;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #777;
    background-color: #F0F2F3;
}

#msform fieldset label {
    font-weight: normal;
    margin: 5px 0px 0px;
}

#msform legend {
    width: auto;
    min-width: 100px;
    font-size: 14px;
    margin: 0px;
    border: none;
    color: #777;
    font-weight: bold;
}

#img_panel {
    padding: 15px;
}

#prevarrow,
#nextarrow {
    height: 58px;
    width: 6%;
}

#document_preview {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.modal-title h5 {
    font-size: 14px;
}
</style>
<div data-ng-controller="AnalyticsController" id="analyticsContainer" class="col-md-12 pull-left">
    <div class="col-md-12">
        <!-- contextmenu="blur" -->
        <div class="row">
            <section class="content-container ">
                <div class="col-md-12 pull-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-12 pull-left" data-ng-if="isTableData">
                    <div class="col-md-6 ">
                        <select id="dashboardType" class="form-control" ng-model="type" ng-init="type='application'">
                            <option ng-selected="true" value="application">Application Logs</option>
                        </select>
                    </div>
                    <div class="col-md-5">&nbsp;&nbsp;&nbsp;</div>
                    <div class="col-md-1">
                        <a href="javascript:;" class="btn-icon btn-icon-sm pull-left" data-ng-click="toggleView()">
                            <i class="fa fa-table" style="font-size:18px;"></i>
                        </a>
                    </div>
                    <div class="col-md-12" style="height:40px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="row js-chart">
                        <div hc-bar-chart data="chartOptions" loaded="isChartLoaded" on-chart-click="onSeriesClicked(message,'')" style="height:100%;width:100%;margin-bottom: 40px;"></div>
                        <!-- <div class="col-md-12" ng-if="isChartLoaded" style="text-align: center;margin:0 auto">
                            <div class="loader">Loading...</div>
                            <span>Loading...</span>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12" data-ng-if="!isTableData && !appView" style="padding: 0px;">
                    <div class="col-md-12 pull-left" fix-to-top="fix-to-top" padding-when-at-top="10">
                        <div class="col-md-3 ">
                            <select id="dashboardType" class="form-control" ng-model="type" ng-init="type='application'">
                                <option ng-selected="true" value="application">Application Logs</option>
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-offset-2 col-xs-6" style="padding: 0px;">
                            <form name="gridsearch" autocomplete="off" class="form-group form-inline">
                                <div class="input-group">
                                    <!-- data-ng-keyup="search(searchKeywords)" -->
                                    <div ng-if="isSearchable" ng-cloak class="col-md-12">
                                        <input type="text" name="searchKeywords" data-ng-cloak placeholder="Search..." autofocus class="form-control" data-ng-model="search.query" >
                                    </div>
                                    <div ng-if="dateRanger" ng-cloak class="col-md-12">
                                        <input date-range-picker id="daterange" name="daterange" class="form-control date-picker" type="text" ng-model="datefilter.date" options="datefilter.opts" placeholder="Pick Date" max="datefilter.opts.max" min="datefilter.opts.min" clearable="true" />
                                    </div>
                                    <span class="input-group-addon">
								      <a class="fa fa-search" ng-click="toggleSearch()" ></a>
								</span>
                                    <span class="input-group-addon"> 
								     <a class="fa fa-calendar" ng-click="toggleDatepicker($event)"></a>
								</span>
                                </div>
                            </form>
                            <span data-ng-show="search.query.length >= 1 "> 
                                Showing {{(datasource|filter:search.query).length}}/{{datasource.length}} entries 
                            </span>
                        </div>
                        <div class="col-md-3 ">
                            <div class="panel-bttn pull-right">
                                <div class="btn-group">
                                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-download" style="font-size:18px;"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" data-ng-click="reportDownload()">XLS</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-ng-click="reportDownload()">CSV</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-ng-click="openCustomReportDesigner()">Custom Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 ">
                            <a href="javascript:;" class="btn-icon btn-icon-sm pull-left" data-ng-click="toggleView()">
                                <i class="fa fa-bar-chart" style="font-size:18px;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12"> &nbsp;&nbsp;&nbsp;</div>
                    <div class="col-md-12 pull-left ">
                        <table class="table table-striped table-responsive table-condensed table-hover" style="height: auto;white-space: nowrap;">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="th">
                                            Ref Id
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th ">
                                            Date
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            City
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th" style="max-width:200px;">
                                            Cust Name
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            Loan Amt
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            Aprv Amt
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            Bureau Score
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            App Score
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            App Status
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            Stage
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            Dealer
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th">
                                            DSA
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <tr ng-if="datasource.length <= 0">
                                    <td colspan="12">
                                        <div class="col-md-12" ng-if="isLoadingAnalyticsData" style="text-align: center;">
                                            <div class="loader">Loading...</div>
                                            <span>please wait while we load data </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr dir-paginate="store in datasource  | filter:search.query | itemsPerPage:itemPerPage" total-items="total_count">
                                    <td><a ng-click="viewApplication(store.applicationId,store.applicationStatus)">{{store.applicationId}}</a></td>
                                    <td>{{store.date | dateFormat}}</td>
                                    <td>{{store.city.toUpperCase()}}</td>
                                    <td>
                                        <div style="overflow:hidden;width:200px;">
                                            {{store.applicantName}}
                                        </div>
                                    </td>
                                    <td>{{store.loanAmount}}</td>
                                    <td>{{store.approvedAmount}}</td>
                                    <td>{{store.bureauScore}}</td>
                                    <td>{{store.applicationScore}}</td>
                                    <td>
                                        <span class="label" data-ng-class="{'label-danger' : store.applicationStatus.toUpperCase() == 'DECLINED', 'label-success' : store.applicationStatus.toUpperCase() == 'APPROVED' , 'label-dirty' : store.applicationStatus.toUpperCase() == 'QUEUE'}">{{store.applicationStatus.toUpperCase()}}
			                    	</span>
                                    </td>
                                    <td>{{store.stageID}}</td>
                                    <td>{{store.dealerId}}</td>
                                    <td>{{store.dsaId.split("@")[0].toUpperCase()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 pull-left" style="margin-bottom: 50px;">
                        <div class="col-md-6 page-num-info">
                            <span>
		                        Show &nbsp;<select data-ng-model="itemPerPage"
		                                data-ng-options="num for num in itemPerPageMeta"
		                                
		                               >
		                               <!-- data-ng-change="onNumPerPageChange(numPerPage)" -->
		                        </select> 
		                        entries per page
		                    </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <dir-pagination-controls ng-if="!ifSeriesClicked" max-size="10" direction-links="true" boundary-links="true" on-page-change="fetchDataFromServer(newPageNumber)">
                            </dir-pagination-controls>
                            <dir-pagination-controls ng-if="ifSeriesClicked" max-size="10" direction-links="true" boundary-links="true" on-page-change="onSeriesClicked('',newPageNumber)">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
              <!--   <div data-ng-if="appView" data-ng-include="'views/templates/app-form.html'"></div> -->
            </section>
        </div>
    </div>
</div>
