<!-- 	<link href="css/DmiApp.css" rel="stylesheet"> -->
	
	<style>
		 select
	{
	margin-right: 0px;
    margin-left: 3px;
    display: inline-block;
    -moz-appearance: none;
	}
	</style>
	<div class="ApplicationMainContainer" ng-controller="ApplicationController" ng-cloak>
		<div class="row clearfix" contextmenu="blur">
			<div class="col-md-2 col-md-offset-1" id="application_process">				
				<label style="font-size: 20px; padding: 13px 0px 12px 21px;">Application Process</label>			
			</div>
			<div class="col-md-5 hiden" id="progerssbar-div" style="text-align: center; padding-top: 16px;">
				<ul id="progressbar">
					<li class="active">PROOF</li>
					<li>PRODUCT</li>
					<li>PROFILE</li>
					<li>KYC</li>
					<li>EMPLOYER</li>
				</ul>
			</div>
			<div class="col-md-2" id="search-container" ng-show="authenticate('ASRCHAP')" style="float: right; margin: 15px 68px;">
			<form ng-submit="searchApp()">			
				<div class="input-group" style="width: 220px;">
					<input type="text" class="search-container" id="appno" ng-model="appno" autocomplete="off" placeholder="Application Reference No...">
					<span class="glyphicon glyphicon-search" id="search-icon" style="right: 10px; color: #A49999; cursor: pointer;" ng-click=searchApp()></span>
					<img src="images/loading.gif" class="LoaderSpinner"/>
				</div>
				</form>
			</div>
		</div>
		<div class="row clearfix" style="height: 70%" contextmenu="blur">
			<div class="col-md-12 column" style="height: 100%">

				<div class="col-md-8 col-md-offset-1" id="leftbar" style="height: 100%">

					<form id="msformApp" class="col-md-11 col-md-offset-2">
						<div class="row" id="first_div">
							<div class="row clearfix">
								<div class="col-md-12 col-md-3">
									<label class="control-label right">Name</label>
								</div>
								<div class="col-md-12 col-md-7">
									<input id="name" ng-model="name" name="Name"
										class="form-control" type="text" capitalize>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12 col-md-3">
									<label class="control-label right">Mobile </label>
								</div>
								<div class="col-md-12 col-md-7">
									<input ng-model="mobile" class="form-control" id="mobile" name="Mobile"
										type="text" maxlength="10">
								</div>
							</div>
						<div class="row clearfix">
								<div class="col-md-6 col-md-offset-2">
									<div id="TnC" class="hiden">
										<!-- <div style="margin-bottom: 10px; height: 193px; overflow: hidden" ng-if="Auth.Application.terms">
											<h4 style="text-align: center; font-weight: bold;">Terms
												& Conditions</h4>
											I have read the Terms & Conditions and agree to indemnify
											HDFC Limited and its officials from any disputes arising out
											of the use of any particular image or document on the GO NO
											GO enquiry. I undertake full responsibility that the
											documents provided by me are correct to the best of my
											knowledge. I understand that the instant decision by HDFC
											limited is subject to approval of the paper application which
											might be rejected in case proofs or field verifications does
											not match with documents proof submitted for KYC. Further, by
											providing the OTP I have given my consent to seek a GO NO GO
											decision from HDFC Limited. <a href="#"
												style="text-align: center; display: block;">Click to
												Read More</a>
										</div> -->
										<div style="margin-bottom: 10px;" ng-if="authenticate('ATERMS')">
										<div class="alert alert-info" role="alert">By clicking Accept, you agree to our <i>Terms and Policy</i>,
										 including our Cookie Use.</div>
										</div>
									</div>
									<a id="cancel" class="TC_button hiden">Cancel</a> 
									<a id="accept" class="TC_button hiden" style="float: right;font-size: 18px;">Accept</a>
								</div>
								<div class="row clearfix">
									<div class="col-md-5 col-md-offset-3">
										<div id="addresses">
											<a id="verify" style="float: right; margin-top: 6px;font-size: 18px;"
												class="TC_button hiden" ng-click="verifyMobile()">Verify</a>
										</div>
										<div id="address">
											<input class="form-control otp" id='txt1' type="password" maxlength="1" name="OTP">
											<input class="form-control otp" id='txt2' type="password" maxlength="1" name="OTP">
											<input class="form-control otp" id='txt3' type="password" maxlength="1" name="OTP">
											<input class="form-control otp" id='txt4' type="password" maxlength="1" name="OTP">
											<input class="form-control otp" id='txt5' type="password" maxlength="1" name="OTP">
										</div>
									</div>
								</div>
								<div class="col-md-5 col-md-offset-3" style="width: 283px">
									<a id="add-address" class="TC_button" style="float: right;font-size: 18px;" ng-click="getOTP(mobile)">Get
										OTP</a>
								</div>
							</div>
								<div class="row clearfix" id="otp-msg" ng-if="otpMSG">
									<div class="col-md-7 col-md-offset-1">
									<div class="alert alert-success alert-dismissible" role="alert" style="padding: 10px; margin-top: 25px">
											<strong> Note.. &nbsp;&nbsp;</strong>
											<span id="main_error">{{otpMSG}}</span>
										</div>
									</div>
								</div>
						</div>


								<fieldset class="formfield" ng-controller="kyc_controller"	id="kyc_fielset">
							  <div class="parentScroll">
							   <div class="row clearfix">
								<div class="col-md-12 column">
									<div class="row clearfix">
										<div class="col-md-4 col-sm-offset-2">
											<div class="preview" id="preview" 
												ng-style="{'background-image':'url('+image_url1+')'}">
												<input id="pan_card" type="file" name="Pan Card"
													ng-file-select="onFileSelect($files,'Pan_Card','1')">
													<label for="pan_card" ng-hide="image_url1">
													     <img alt="" src="img/camera-128.png" class="img_icon">    
													    </label><label ng-hide="image_url1"> Pan Card</label>
											</div>
											<small ng-show="image_url1" class="size">{{file_size1}}</small>
											<a class="remove_image" ng-show="image_url1"
												ng-click="remove_file('Pan_Card','1',image_url1)">Remove</a>
											<div class="spinners">
												<div class="spinner">
													<spinner id="spinner1" group="bar" size="large"
														url="img/ajax-loader.gif"></spinner>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											

											<div class="preview"
												ng-style="{'background-image':'url('+image_url2+')'}">
												<input type="file" id="aadhar_card" name="Aadhar Card"
													ng-file-select="onFileSelect($files,'Aadhar_Card','2')">
													<label for="aadhar_card" ng-hide="image_url2">
											     <img alt="" src="img/camera-128.png" class="img_icon">
											    </label>
											    <label ng-hide="image_url2">Aadhaar Card</label>
											</div>
											<small class="size" ng-show="image_url2">{{file_size2}}</small>
											<a class="remove_image" ng-show="image_url2"
												ng-click="remove_file('Aadhar_Card','2',image_url2)">Remove</a>
											<div class="spinners">
												<div class="spinner">
													<spinner id="spinner2" group="bar" size="large"
														url="img/ajax-loader.gif"></spinner>

												</div>
											</div>

										</div>
										<!-- <div class="col-md-1 column" ng-show="image_url2">
										<button class="btn btn-danger btn-sm">Remove</button>
										</div>		 -->
									</div>
									<div class="row clearfix">
										<div class="col-md-4 col-sm-offset-2">
											
											<div class="preview"
												ng-style="{'background-image':'url('+image_url3+')'}">
												<input type="file" id="proof1" name="Income Proof1"
													ng-file-select="onFileSelect($files,'Income_proof1','3')">
													<label for="proof1" ng-hide="image_url3">
													     <img alt="" src="img/camera-128.png" class="img_icon">
													    
													    </label><label ng-hide="image_url3"> Income Proof 1</label>
											</div>
											<small class="size" ng-show="image_url3">{{file_size3}}</small>
											<a class="remove_image" ng-show="image_url3"
												ng-click="remove_file('Income_proof1','3',image_url3)">Remove</a>
											<div class="spinners">
												<div class="spinner">
													<spinner id="spinner3" group="bar" size="large"
														url="img/ajax-loader.gif"></spinner>

												</div>
											</div>
										</div>
										<div class="col-md-4 "  >											
											<div class="preview"
												ng-style="{'background-image':'url('+image_url4+')'}">
												<input type="file" id="Income proof2" name="Income proof2"
													ng-file-select="onFileSelect($files,'Income_proof2','4')">
													<label for="proof2" ng-hide="image_url4">
										     <img alt="" src="img/camera-128.png" class="img_icon">
										    </label><label ng-hide="image_url4"> Income Proof 2</label>
											</div>
											<small class="size" ng-show="image_url4">{{file_size4}}</small>
											<a class="remove_image" ng-show="image_url4"
												ng-click="remove_file('Income_proof2','4',image_url4)">Remove</a>
											<div class="spinners">
												<div class="spinner">
													<spinner id="spinner4" group="bar" size="large"
														url="img/ajax-loader.gif"></spinner>
												</div>
											</div>
										</div>										
						</div>
							<div class="row clearfix" id="appendClone" style="margin-left: 15% ">
							<div class="col-md-12" id="setElement"></div>
									</div>
							</div>
							</div>
										</div>
							
							
							<div class="row clearfix" id="button-row" >
								<div class="col-sm-2 col-sm-offset-8">
									<input type="button" name="next" class="next action-button"
										value="Next"style="float: right;margin-right:-15px"
										 />

								</div>
							</div>
						</fieldset>		
							<fieldset class="formfield">
							<div class="parentScroll">
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Location</label>
								</div>
								<div class="col-md-5 column">
									<input id="city" ng-model="location" class="form-control"
										type="text" name="Location" capitalize>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Project</label>
								</div>
								<div class="col-md-5 column">
									<input id="projectname" ng-model="project" class="form-control"
										type="text" name="Project" capitalize>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Amount</label>
								</div>
								<div class="col-md-5 column">
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input id="project_amount"
											class="rupee form-control" ng-model="amount" type="text"
											name="Amount">
									</div>
								</div>
							</div>
							</div>
							<div class="row clearfix" id="button-row">
								<div class="col-sm-6 col-sm-offset-4">
									<input type="button" name="previous"
										class="previous action-button" value="Previous"
										/>
								
									<input type="button" name="next" class="next action-button"
										value="Next" style="float: right;margin-right:-15px"
										 />
								</div>
							</div>

						</fieldset>
						<fieldset class="formfield">
							<!-- <div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Age</label>
								</div>
								<div class="col-md-5 column">
									<input id="app-name" ng-model="age" class="form-control"
										type="text" name="Age" title="Enter Project">
								</div>
							</div> -->
							<div class="parentScroll">
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Email</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control" ng-model="email"
										type="text" name="Email">
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Date of Birth</label>
								</div>
								<div class="col-md-5 column">
									<input id="dob" class="form-control" ng-model="dob" type="text" name="Date Of Birth" style="width: 40%; padding-left:2px;display: inline-block;">
									<label class="control-label" style="float: none;">Gender</label>&nbsp;&nbsp;
									<label style="float:none;"><input type="radio" name="Gender" checked="checked" value="Male" ng-model="gender" /> M </label>&nbsp;
									<label style="float:none;"><input type="radio" name="Gender" value="Female" ng-model="gender" /> F</label>									
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Address Line 1</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control" ng-model="address1"
										type="text" name="address" capitalize>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Address Line 2</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control"
										ng-model="address2" type="text" name="complete address" capitalize>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Pin Code</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control" ng-model="pin"
										type="text" name="PinCode" maxlength="6" style="width: 31%; display: inline-block;">
										<label class="control-label" style="float: none;">State </label>
										<!-- <select ng-model="RegisterState" class="form-control" id="state" name="State"  style="width: 41%;display: inline-block; " >
										<option selected="selected">Select State</option>
										</select> -->
										
										<select id="statelist" class="form-control" name="State" ng-model="state" style="width: 41% ;display: inline-block;">
										<option ng-selected="true" value="Select">Select State</option>
										</select>
										
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Time At this Address</label>
								</div>
								<div class="col-md-5 column">
									<!-- <input id="app-name" class="form-control"
										ng-model="time_address" type="text" name="TimeAdr"> -->
										
										<select class="form-control" name="TimeAdr" ng-model="time_address" style="width: 100%" ng-options="time as time.name for time in timeataddress">
										
										</select>
								</div>
							</div>
							
								<div class="row clearfix">
								<div class="col-md-4">
									<label class="control-label">Marital Status</label>
								</div>
								<div class="col-md-5 column">
									<label  style="float: none;"><input type="radio" name="Marital Status" ng-checked="true" value="Single" ng-model="maritalStatus" /> Single</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label  style="float: none;"><input type="radio" name="Marital Status" value="Married" ng-model="maritalStatus"/> Married</label>									
								</div>
							</div>
							</div>
							<div class="row clearfix" id="button-row">
								<div class="col-sm-6 col-sm-offset-4">
									<input type="button" name="previous"
										class="previous action-button" value="Previous"
										 />
								
									<input type="button" name="next" class="next action-button"
										value="Next" id="stateNext" style="float: right;margin-right:-15px"
									 />
								</div>
							</div>


						</fieldset>
						<fieldset class="formfield">
						<div class="parentScroll">
							<div class="row clearfix">
								<div class="col-md-4 column">
									<label class="control-label">Pan Number</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control" ng-model="pan" type="text"
										name="Pan Number" placeholder="AAAAA 1236 P" maxlength="12">
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4 column">
									<label class="control-label">Aadhaar Number</label>
								</div>
								<div class="col-md-5 column">
									<input class="form-control" ng-model="aadhar" type="text"
										name="Aadhar Number"  placeholder="XXXX XXXX XXXX" maxlength="14">
								</div>
							</div>
						</div>
						<div class="row clearfix" id="button-row">
								<div class="col-sm-6 col-sm-offset-4">
									<input type="button" name="previous"
										class="previous action-button" value="Previous"
										 />
							
								
									<input type="button" name="next" class="next action-button"
										value="Next" style="float: right;margin-right:-15px"
										 />
								</div>
							</div>


						</fieldset>
						<fieldset class="formfield">
						<div class="parentScroll">
							<div class="row clearfix">
								<div class="col-md-4 column">
									<label class="control-label">Select Employment</label>
								</div>
								<div class="col-md-5 column">
									<select class="form-control" name="Employment Type" id="select_employment"	style="width: 100%" >			<!-- ng-options="job as job.name for job in jobType" -->							
									<option ng-repeat="job in jobType" value="{{job.value}}" ng-selected="{{job.value=='select'}}">{{job.name}}</option>										
									
									</select>
								</div>
							</div>
							<div class="row clearfix" id="employer_detail">
								<div id="Professional" class="employment">
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Company Name</label>
										</div>
										<div class="col-md-5 column">
											<input id="pro-company-name" class="form-control"
												ng-model="company_name" type="text" name="Company Name" capitalize>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label" style="text-align: right;">Company
												Established (Since)</label>
										</div>
										<div class="col-md-5 column">
											<input id="app-name" class="form-control" ng-model="Position"
												type="text" name="Company Duration">
										</div>
									</div>

									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Annual TurnOver</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="gross_annual" type="text" name="Annual TurnOver"
													aria-describedby="sizing-addon3">
											</div>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Last year PBT</label>
										</div>
										<div class="col-md-5 column">
											<input id="app-name" class="form-control"
												ng-model="Service_time" type="text" name="Last year PBT">
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="lmth" type="text" name="Last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{last_lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="llmth" type="text"
													name="last to Last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
								</div>

								<div id="Business" class="employment">
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Company Name</label>
										</div>
										<div class="col-md-5 column">
											<input id="bus-company-name" class="form-control"
												ng-model="company_bussiness" type="text" name="Company Name" capitalize>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label" style="text-align: right;">Company
												Established (Since)</label>
										</div>
										<div class="col-md-5 column">
											<input id="app-name" class="form-control"
												ng-model="Designation_bussiness" type="text"
												name="Company Duration">
										</div>
									</div>

									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Annual TurnOver</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="gross_annual" type="text" name="Annual TurnOver"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Last Year PBT</label>
										</div>
										<div class="col-md-5 column">
											<input id="app-name" class="form-control"
												ng-model="bussiness_time" type="text" name="Last year PBT">
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="lmth" type="text" name="last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{last_lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="llmth" type="text"
													name="last to Last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
								</div>



								<div id="Job" class="employment">
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Employer</label>
										</div>
										<div class="col-md-5 column">
											<input id="job_compnay_name" class="form-control" ng-model="employer"
												type="text" name="Company Name" capitalize>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label" style="text-align: right;">Time
												with this Employer</label>
										</div>
										<div class="col-md-5 column">
									
												<select class="form-control" name="Time With This Employee" ng-model="time_employer" style="width: 100%" ng-options="time as time.name for time in timeataddress"></select>
										
										</div>
									</div>

									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Gross Annual</label>
										</div>                                                           
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input id="gross_annual" class="rupee form-control"
													ng-model="gross_annual" type="text" name="Gross Annual"
													aria-describedby="sizing-addon3">
											</div>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">Current EMI</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input id="current_emi" class="rupee form-control"
													ng-model="current_emi" type="text" name="Current EMI"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="lmth" type="text" name="last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-4 column">
											<label class="control-label">{{last_lastmonth |
												date:'MMMM'}} Take Home</label>
										</div>
										<div class="col-md-5 column">
											<div class="input-group input-group-md">
												<span class="input-group-addon" id="sizing-addon3"><i
													class="fa fa-inr"></i></span> <input class="rupee form-control"
													ng-model="llmth" type="text"
													name="last to Last month take home"
													aria-describedby="sizing-addon3">
											</div>

										</div>
									</div>
								</div>
							</diV>
							<!-- end employment detail -->
							</div>
							<div class="row clearfix" id="button-row">
								<div class="col-sm-6 col-sm-offset-4">
									<input type="button" name="previous"
										class="previous action-button" value="Previous"
										 />
								
									<input type="submit" name="submit" id="start_counter"
										class="submit action-button" value="Submit"
										ng-click="submit()" ng-disabled="button" style="float: right;margin-right:-15px"/>
								</div>
							</div>
						</fieldset>
						<input ng-model="valid_form" style="display: none;" />
						<!-- form validator checker hidden-->
					</form>

					<!-- 	show after submit button click		 -->
					<div class="row clearfix">
						<div class="col-md-8 col-md-offset-2 hiden" id="result_panel">
						<div class="row clearfix">
							<div class="col-md-8 col-md-offset-2">
								<div class="row clearfix" id="result_message">								
									<h4>{{gonogo_status}}</h4>
									<!-- <h5 ng-show="RefID">Your Reference ID is : <a ng-click="Auth.Application.reprocess && newApplication(RefID)">{{RefID}}</a></h5>
									<h5>{{detail}}</h5>	 -->
<!-- 									<h5 ng-show="RefID" >Your Reference ID is : <a ng-click="Auth.Application.reprocess && newApplication(RefID)">{{RefID}}</a></h5> -->
									<h5 >Your Reference ID is : <a ng-click="authenticate('ARPRCS') && newApplication(RefID)">{{RefID}}</a></h5>
									<h5>{{detail}}</h5>												
								</div>
							</div>
							</div>
							<div class="row clearfix" style="text-align: center;" id="timer_box">
								<div class="col-md-8 col-md-offset-2">
									<div class="sui-progressbar sui-progressbar-circular"
										id="progress"></div>
								</div>
							</div>
							<div class="row clearfix" id="offer_panel" style="display: none;color: #5D6B7E;">
							<div ng-if="Message1" style="text-align: center; margin: 6px 0px 25px;">{{Message1}}</div>									
								<div class="col-md-12 offer_box" style="padding: 0px" ng-if="authenticate('AOFRS')">										
									<ul>
										<li ng-repeat="offer in OfferArray">
											<div class="col-md-2"><img ng-src="{{offer.Icon}}" width="100%" height="28px"></div>
											<div class="col-md-9"><span>{{offer.Name}}</span></div>
											<div class="col-md-1">
											  <div class="roundedTwo">
														<input type="checkbox" value="None" id="Offer{{$index}}"	name="check" autocomplete="off"/>
														<label for="Offer{{$index}}"></label>
													</div>		
											</div>
										</li>												
									</ul>
								</div>	
							<div ng-if="authenticate('ACNTNUE')" style="text-align: center; margin: 25px 0px 15px; color: #5D6B7E;">{{Message2}}</div>							
							</div>						
							<div class="row clearfix" id="continue_button" ng-if="authenticate('ACNTNUE')">
							<div class="col-md-3 col-md-offset-8">
							   <input type="submit" class="action-button" value="Continue" id="continue"/>							
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 			<div class="col-md-12 col-md-2"></div> -->
					<div class="col-md-12 col-md-3" id="rightbar">
					<div class="row clearfix">
						<div ng-show="show_error_header" class="media well"
							ng-class="message_class" id="message">
							<h4 class="media-heading">{{message_head}}</h4>
							<section>{{message}}</section>
							<br>

						</div>
						<div ng-hide="show_error_header" class="media well"
							ng-class="message_class" id="message">
							<div ng-hide="currency">
								<h4 id="error_head" class="media-heading"></h4>
								<section id="error"></section>
								<br>
							</div>
							<div ng-show="currency" id="curr">
								<h4 class="media-heading">{{currency_head}}</h4>
								{{currency}}
							</div>
						</div>
						<table>
						<tbody></tbody>
					</table>
					
						</div>
				<div class="row clearfix hiden" id="right_progerssbar_div" style=" padding-top: 12px;">
				<ul id="rightprogressbar">
					<li id="doccheck"><span>Verify ID</span>
					<span class="doc" id="pancheck" ng-show="authenticate('APAN')" 
					 style="position: absolute; display:none; top: 16px; margin-left: 60px; font-size: 12px;"> 
					 <input type="checkbox" class="large" checked="checked"/> Pan Unverified</span>
					<span class="doc" id="aadharcheck" ng-show="authenticate('AAADHAR')"
					style="position: absolute; display:none; top: 35px; margin-left: 60px; font-size: 12px;"> 
					<input type="checkbox" class="large" checked="checked"/> Aadhaar Unverified</span>
					</li>
						
					<li id="bureaucheck"><span>Bureau Score</span>
					 <span id="mbstatus"  style="position: absolute; top: 16px;display:none; margin-left: 60px; font-size: 12px;" >{{MBStatus}}</span>
					 <span id="cibil" style="position: absolute; top: 16px; margin-left: 60px; font-size: 12px;" ng-if="authenticate('ACIBIL') && BScore">Cibil : {{BScore}}</span>
					 <span id="experian" style="position: absolute; top: 34px; margin-left: 60px; font-size: 12px;" ng-if="authenticate('AEXPRIAN') && BScore1">Experian : {{BScore1}}</span>
					</li>
					
					<li id="appcheck"><span>Application Score</span>
					<span id="application" style="position: absolute;display:none; top: 16px; margin-left: 60px; font-size: 12px;">{{AppScore}}</span>
					</li>
						
					<li id="crocheck" style="display:none;"><span>CRO Identified</span>
					<span id="croid" title="{{croname}}" style="position: absolute;top: 16px; margin-left: 50px; font-size: 12px;width: 150px">
						<img ng-src="{{croimage}}"  alt="CRO Icon" class="img-circle user_thumb" height="35px" style="width: 35px">
						<span style="display: inline-block; position: absolute;left:42px; top: 2px; margin: 0px 3px;">{{croname}}</span>
						<span style="display: inline-block; position: absolute;left:42px; top: 18px; margin: 0px 6px;">
						<a id="dsa_chat" title="{{crouserid}}" ng-show="authenticate('ACHAT')">Chat Link</a></span>
						</span>
					</li>
					<li id="decisioncheck"><span>Decision<span style="margin-left: 20px">{{decision}}</span></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
	
<!-- <script type="text/javascript" src="angular_lib/angular-file-upload.js"></script>
<script type="text/javascript" src="angular_lib/angular-file-upload-shim.min.js"></script>
<script src="JqueryLib/jquery-ui.min.js"></script>
<link rel="stylesheet" href="JqueryLib/jquery-ui.min.css"> 
 -->