 <form name="approve" class="form-horizontal form-validation">
 <div class="row clearfix" id="approveReason">
 <!-- data-ng-show="toggleApprvPanel" -->
		<div class="panel_heading"><label>Description</label></div>
		<div class="panel_body">
		 <div class="row clearfix" id="enterAmount" style=" margin-top: 5px;">
		 	<div class="col-md-4"><label>Approve Amount :</label>
		 <input type="text" class="checkVisible" maxlength="20" ng-model="modalFeed.approveAmt" style="width: 100%;" required only-digits/>
		 </div>
		 	<div class="col-md-4"><label>EMI :</label>
		 <input type="text" class="checkVisible" maxlength="20" ng-model="modalFeed.emi" required only-digits style="width: 100%;"/></div>
		 	<div class="col-md-4"><label>Tenor :</label>
		 <input type="text" class="checkVisible" maxlength="20" ng-model="modalFeed.tenor" required only-digits style="width: 100%;"/></div>
		 
		 </div>
		  <div class="row clearfix">
		  <label style="margin-left: 15px; margin-top: 5px;">Remark :</label>
			  <input type="text" class="dashedcontainer" ng-model="modalFeed.apprvRemark" >
		  </div>
		   <div class="row clearfix">
		   <label style="margin-left: 15px">Subject to  :</label>
			   <input type="text" class="dashedcontainer" ng-model="modalFeed.apprvSubTo" >
		  </div>
		</div>
		<div class="panel_footer" style="height: 27px;">
			<span ng-if="approvemsg" class="text-danger" style="text-align: left;">Please fill all the field</span>
			<div class="text-right" style=" display: inline; float: right;">
		   <a class="TC_button" ng-click="saveApprvPanel()">Submit</a>	
		   <a class="TC_button" ng-click="closeApprvPanel()">Close</a>	
		   </div>							
		</div>
	</div>
</form>