<style>
/* ****************************************Notification.html********************************************************** */
.scroll-fixed-top {
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
	z-index: 1000;
}

#rightbar span {
	margin-left: 0px;
}

.employment {
	display: none;
}

#notification_tmp fieldset {
	border: 1px solid #CFCFCF;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #777;
	background-color: #F0F2F3;
}

#notification_tmp fieldset label {
	font-weight: normal;
	margin: 5px 0px 0px;
}

#notification_tmp legend {
	width: auto;
	min-width: 100px;
	font-size: 14px;
	margin: 0px;
	border: none;
	color: #777;
	font-weight: bold;
}

.Pending {
	background-color: blue;
}

.Approved {
	background-color: green;
}

.Declined {
	background-color: red;
}

.picked {
	background-color: #CFCFCF;
	border: 2px solid #fff;
}

.picked:hover {
	background-color: #CFCFCF;
}

.node ellipse {
	fill: #fff;
	stroke: none;
	/*  stroke-width: 2px; */
}

.node:hover {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: green;
	stroke-width: 1px;
	z-index: 1000;
}

svg:not (:root ) {
	overflow: visible;
}

#tooltip {
	position: absolute;
	height: auto;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.tooltipExp {
	word-spacing: 5px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgb(224, 214, 214);
	padding: 5px;
}

#tooltip.hidden {
	display: none;
}

.nhr a {
	color: #777;
}
</style>


<div id="notification_tmp" ng-controller="NotifController" ng-cloak>
	<div class="row clearfix" contextmenu="blur">
		<div class="col-md-10 col-md-offset-1" style="padding-right: 0px;">
			<div class="col-md-2" id="application_process">
				<label style="font-size: 20px; padding: 12px 0px 0px;">Notifications</label>
			</div>

			<div class="col-md-9" style="padding: 0px; float: right;">
				<div class="row clearfix">
					<div class="col-md-6 text-left" style="padding-top: 10px">
						<img src="images/loading.gif" class="LoaderSpinner" />
						<sapn ng-if="error" style="color:red">
						<strong> Warning! &nbsp;&nbsp;</strong>{{error}}</span>
					</div>
					<div class="col-md-6">
						<ul class="nav navbar-nav navbar-right nhr">
							<li><span href="" id="ref" ng-show="showrefid"
								style="margin-top: 16px; display: block;"> <a
									ng-click="::authenticate('NRPRCS') && newApplication(details.APPLICATION.RefID)">{{details.APPLICATION.RefID}}</a></span></li>
							<li><a id="dsa_chat" ng-if="authenticate('NCHAT')">DSA
									Chat</a></li>
							<li><a id="onhold" title="{{details.CUSTOMER.CustID}}"
								ng-if="authenticate('NHOLD')"
								ng-click='cro_action( details.CUSTOMER.CustID, "OnHold")'>OnHold</a>
							</li>
							<li><a id="approve" title="{{details.CUSTOMER.CustID}}"
								ng-if="authenticate('NAPPROVE')"
								ng-click='cro_action( details.CUSTOMER.CustID, "Approved")'>Approve</a>
							</li>
							<li><a id="decline" title="{{details.CUSTOMER.CustID}}"
								ng-if="authenticate('NDECLINE')"
								ng-click='cro_action( details.CUSTOMER.CustID, "Declined")'>Decline</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-10 col-md-offset-1" contextmenu="blur">
		<div class="row clearfix" id="notification-main-container"
			style="border-top: 1px solid #DADADB; padding-top: 10px;">
			<div class="col-md-3 column" id="leftbar">

				<div class="list-group" ng-init="names" style="border: 1px solid rgb(218, 218, 219); overflow: hidden;">
					
					<input class="form-control" type="text" ng-model="search"
						placeholder="Search Notification..."
						style="margin: 0px; max-width: 277px; background-color: white;" />
					
					<div class="leftbar_scroll">
						<div class="list-group-item" ng-if="notifyarrey.length==0"
							style="color: red; text-align: center;">Your Queue is Empty</div>
						<div class="list-group-item"
							ng-repeat="user in notifyarrey | filter:search as results "
							ng-click='load_details(user.CUSTOMER.CustID, $event)'
							ng-class="{picked: user.CUSTOMER.CustID==Picked, reprocess: user.APPLICATION.ReProcess}">
							<img ng-src="{{user.DSA.image}}" alt="img"
								class="img-circle dsa_profile_icon">
							<div class="notify-name">{{ user.DSA.name}}</div>
							<div class="status" id="{{user.CUSTOMER.CustID}}"
								ng-class="{Pending: user.APPLICATION.status == 'OnHold' , Approved: user.APPLICATION.status == 'Approved' , Declined: user.APPLICATION.status == 'Declined'}"></div>
							<div class="notify-time">{{ user.APPLICATION.time | time}}</div>
							<div class="property_location">{{ user.PROPERTY.Location}}</div>
							<div class="property_amount">{{ user.PROPERTY.Amount |
								rupee:"&#x20B9; "}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 column" id="rightbar">
				<div class="row clearfix" ng-init="details">
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading customer">CUSTOMER </label>
							<div id="customer" class="scroll-divs">
								<div class="list-group-item">
									<span>Name : <span id="keyname">{{
											details.CUSTOMER.name }}</span></span>
								</div>
								<div class="list-group-item">
									<span>D.O.B : {{ details.CUSTOMER.dob }}</span>
								</div>
								<div class="list-group-item">
									<span>City : {{ details.CUSTOMER.city }}</span>
								</div>
								<div class="list-group-item">
									<span>Mobile : {{ details.CUSTOMER.mobile }}</span>
								</div>
								<!-- 			 <a href="#treeModal" data-toggle="modal" ></a>	 -->
								<a><span id="appscore" ng-show="details.CUSTOMER.CustID"
									style="display: block; margin: 20px 8px;"
									ng-click="scoreTree(details.CUSTOMER.CustID)"
									data-toggle="modal" data-target="#treeModal">App Score :
										{{ details.APPLICATION.AppScore }}</span></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading income">Ability To Pay <span
								class="badge">{{details.APPLICATION.IncomeScore}}</span></label>
							<div id="income" class="scroll-divs">
								<div class="list-group-item">
									<span>Gross Annual : {{ details.CUSTOMER.grossAnnual |
										rupee:"&#x20B9; "}}</span>
								</div>
								<div class="list-group-item">
									<span>Monthly Income : {{
										details.CUSTOMER.lastMonthIncome | rupee:"&#x20B9; "}}</span>
								</div>
								<div class="list-group-item">
									<span>Employer : {{ details.CUSTOMER.employer}}</span>
								</div>
								<div class="list-group-item">
									<span>Since : {{ details.CUSTOMER.timeEmployer }}
										(Months)</span>
								</div>
								<div>
									<a><img id="income_proof1"
										ng-if="details.KYC.incomeImage1" data-toggle="modal"
										data-target="#myModalnew" alt="Preview Not Availeble"
										class="custom_img_rounded"
										ng-src="{{details.KYC.incomeImage1}}" style="float: left"></a>
									<a><img id="income_proof2"
										ng-if="details.KYC.incomeImage2" data-toggle="modal"
										data-target="#myModalnew" alt="Preview Not Availeble"
										class="custom_img_rounded"
										ng-src="{{details.KYC.incomeImage2}}" style="float: right;"></a>
								</div>
							</div>
							<!--   <div class="add-button-div"></div> -->
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading cir">TrustWorthiness<span
								class="badge">{{details.APPLICATION.TrustScore}}</span></label>
							<div id="cir" class="scroll-divs">
								<div class="list-group-item"
									ng-if="details.APPLICATION.MBStatus && details.APPLICATION.MBStatus != 'COMPLETED'">
									<span>Bureau :{{details.APPLICATION.MBStatus}}</span>
								</div>
								<div class="list-group-item">
									<span>CIBIL Score
										:{{details.APPLICATION.CibilStatus=="SUCCESS"?details.APPLICATION.CibilScore:details.APPLICATION.CibilStatus}}</span>
								</div>
								<div class="list-group-item"
									ng-if="details.APPLICATION.ExpStatus">
									<span>EXPERIAN Score
										:{{details.APPLICATION.ExpStatus=="SUCCESS"?details.APPLICATION.ExpScore:details.APPLICATION.ExpStatus}}</span>
								</div>
								<div class="list-group-item">
									<span>Open Trades : {{ details.BUREAU.openTrades }}</span>
								</div>
								<div class="list-group-item">
									<span>Current Balance: {{ details.BUREAU.sanctionAmount
										| rupee:"&#x20B9; "}}</span>
								</div>
								<div class="list-group-item">
									<span>No of Enquiry : {{ details.BUREAU.TtlEnq}}</span>
								</div>
								<div
									style="position: absolute; background: #fff; width: 87%; margin: 2px; bottom: 8px;">
									<a ng-if="details.BUREAU.cibil"><img alt="CIBIL CIR"
										name="{{details.BUREAU.cibil}}" data-toggle="modal"
										data-target="#myModalnew" ng-if="details.BUREAU.cibil"
										class="custom_img_rounded Report-Icon"
										src="img/cibil_logo.png"></a> <a
										ng-if="details.BUREAU.exparian"><img alt="EXPERIAN CIR"
										name="{{details.BUREAU.exparian}}" data-toggle="modal"
										data-target="#myModalnew" ng-if="details.BUREAU.exparian"
										class="custom_img_rounded Report-Icon" src="img/exp-logo.png"
										style="border: 1px solid #E7DEDE"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading kyc">KYC</label>
							<div id="KYC" class="scroll-divs">
								<div class="list-group-item">
									<span>Pan No : {{ details.KYC.pan }}</span>
								</div>
								<div class="list-group-item">
									<span>Pan Status : {{ details.KYC.panStatus}}</span>
								</div>
								<div class="list-group-item">
									<span>Aadhaar No : {{ details.KYC.aadhar}}</span>
								</div>
								<div class="list-group-item">
									<span>Aadhaar Status : {{ details.KYC.aadharStatus }}</span>
								</div>
								<div>
									<a><img alt="Preview Not Availeble"
										ng-if="details.KYC.panImage" id="pan_card" data-toggle="modal"
										data-target="#myModalnew" class="custom_img_rounded"
										ng-src="{{details.KYC.panImage}}" style="float: left"></a> <a><img
										alt="Preview Not Availeble" ng-if="details.KYC.aadharImage"
										id="aadhar_card" data-toggle="modal" data-target="#myModalnew"
										class="custom_img_rounded"
										ng-src="{{details.KYC.aadharImage}}" style="float: right;"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading property">Asset <span
								class="badge">{{details.APPLICATION.ProductScore}}</span></label>
							<div id="property" class="scroll-divs">
								<div class="list-group-item">
									<span>Prop. Name : {{ details.PROPERTY.ProjectName }}</span>
								</div>
								<div class="list-group-item">
									<span>Rating : {{ details.PROPERTY.Rating }}</span>
								</div>
								<div class="list-group-item">
									<span>Total Application : {{ details.PROPERTY.TotalApp
										}}</span>
								</div>
								<div class="list-group-item">
									<span>Approved applications : {{
										details.PROPERTY.ApprovedApp }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="scroll-divs-outer">
							<label class="div-heading agent">Channel <span
								class="badge">{{details.APPLICATION.DsaScore}}</span></label>
							<div id="agent" class="scroll-divs">
								<div class="list-group-item">
									<span>Name : {{ details.DSA.name }}</span>
								</div>
								<div class="list-group-item">
									<span>G/R ratio : {{ details.DSA.grRatio }}</span>
								</div>
								<div class="list-group-item" style="padding: 1px 5px">
									<span>Total Case : {{ details.DSA.case3Month }}<br>
									<small style="font-size: 10px; position: absolute;">(Last
											3 Month)</small></span>
								</div>
								<div class="list-group-item" style="padding: 1px 5px">
									<span>Total Case : {{ details.DSA.caseTotal}}<br>
									<small style="font-size: 10px; position: absolute;">(At
											this Project)</small></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix" id="application-main-container"
			style="border-top: 1px solid #DADADB; display: none; padding-top: 10px;"
			ng-if="authenticate('NRPRCS')">
			<div class="row clearfix">
				<div class="col-md-9 text-left">
					<div class="alert alert-danger" id="erro-msg"
						style="float: none; text-align: left; margin: 0px">
						<strong>Error ! &nbsp&nbsp&nbsp</strong><span id="error"></span>
					</div>
				</div>
				<div class="col-md-3 text-right" id="top-fixed">
					<a class="add-button-div-notification"
						style="width: 100px; display: inline-block;" id="back">Back</a> <a
						class="add-button-div-notification"
						style="width: 100px; display: inline-block;" id="submit">Submit</a>
				</div>
			</div>
			<form id="msform">
				<fieldset class="formfield" style="display: block;">
					<legend> Product Information</legend>
					<div class="row clearfix">
						<div class="col-md-3">
							<label class="control-label">Location</label> <input id="city"
								ng-model="location" class="form-control" type="text"
								name="Location">
						</div>
						<div class="col-md-3">
							<label class="control-label">Project</label> <input
								id="projectname" ng-model="project" class="form-control"
								type="text" name="Project">
						</div>
						<div class="col-md-3">
							<label class="control-label">Amount</label>
							<div class="input-group input-group-md">
								<span class="input-group-addon" id="sizing-addon3"><i
									class="fa fa-inr"></i></span> <input id="project_amount"
									class="form-control" ng-model="Amount" type="text"
									name="Amount" accesskey="commas">
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset class="formfield" style="display: block;">
					<legend>Professional Information</legend>
					<div class="row clearfix">
						<div class="col-md-3 column">
							<label class="control-label">Select Employment</label>
						</div>
						<div class="col-md-3 column">
							<select class="form-control" name="Employment Type"
								id="select_employment" ng-model="employment_type"
								ng-options="job.name for job in jobType track by job.name"></select>
						</div>
					</div>
					<div id="employer_detail">
						<div id="Professional" class="employment">
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Company Name</label> <input
										id="pro-company-name" class="form-control"
										ng-model="company_name" type="text" name="Company Name">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Company Established
										(Since)</label> <input id="app-name" class="form-control"
										ng-model="Position" type="text" name="Company Duration">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Annual TurnOver</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="gross_annual" type="text" name="Annual TurnOver"
											accesskey="commas" aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Last year PBT</label> <input
										id="app-name" class="form-control" ng-model="Service_time"
										type="text" name="Last year PBT" accesskey="commas">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="lmth" type="text" name="Last month take home"
											accesskey="commas" aria-describedby="sizing-addon3">
									</div>
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{last_lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="llmth" type="text"
											name="last to Last month take home" accesskey="commas"
											aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
						</div>
						<div id="Business" class="employment">
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Company Name</label> <input
										id="bus-company-name" class="form-control"
										ng-model="company_bussiness" type="text" name="Company Name">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Company Established
										(Since)</label> <input id="app-name" class="form-control"
										ng-model="Designation_bussiness" type="text"
										name="Company Duration">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Annual TurnOver</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="gross_annual" type="text" name="Annual TurnOver"
											accesskey="commas" aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Last Year PBT</label> <input
										id="app-name" class="form-control" ng-model="bussiness_time"
										type="text" accesskey="commas" name="Last year PBT">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="lmth" type="text" name="last month take home"
											accesskey="commas" aria-describedby="sizing-addon3">
									</div>
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{last_lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="llmth" type="text"
											name="last to Last month take home" accesskey="commas"
											aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
						</div>
						<div id="Job" class="employment">
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Employer</label> <input
										id="job_compnay_name" class="form-control" ng-model="employer"
										type="text" name="Company Name">
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Time with this Employer</label> <select
										class="form-control" name="Time With This Employee"
										ng-model="time_employer" style="width: 100%"
										ng-options="time as time.name for time in timeataddress"></select>
								</div>
								<div class="col-md-3 column">
									<label class="control-label">Gross Annual</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input id="gross_annual"
											class="form-control" ng-model="gross_annual" type="text"
											name="Gross Annual" accesskey="commas"
											aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-3 column">
									<label class="control-label">Current EMI</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input id="current_emi"
											class="form-control" ng-model="current_emi" type="text"
											accesskey="commas" name="Current EMI"
											aria-describedby="sizing-addon3">
									</div>
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="lmth" type="text" name="last month take home"
											accesskey="commas" aria-describedby="sizing-addon3">
									</div>
								</div>
								<div class="col-md-3 column">
									<label class="control-label">{{last_lastmonth |
										date:'MMMM'}} Take Home</label>
									<div class="input-group input-group-md">
										<span class="input-group-addon" id="sizing-addon3"><i
											class="fa fa-inr"></i></span> <input class="form-control"
											ng-model="llmth" type="text"
											name="last to Last month take home" accesskey="commas"
											aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
						</div>
					</diV>
				</fieldset>
				<fieldset class="formfield" style="display: block;">
					<legend>Personal Information</legend>
					<div class="row clearfix">
						<div class="col-md-3">
							<label class="control-label">Applicant Name</label> <input
								class="form-control" ng-model="name" type="text"
								name="Applicant Name">
						</div>
						<div class="col-md-3">
							<label class="control-label">Mobile</label> <input
								class="form-control" ng-model="mobile" type="text"
								name="Mobile No" maxlength="10">
						</div>

						<div class="col-md-3">
							<label class="control-label">Email</label> <input
								class="form-control" ng-model="email" type="text" name="Email">
						</div>
						<div class="col-md-3">
							<label class="control-label">Date of Birth</label> <input
								id="dob" class="form-control" ng-model="dob" type="text"
								name="Date Of Birth">
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-3">
							<label class="control-label">Gender</label><br /> <input
								type="radio" name="Gender" checked="checked" value="Male"
								ng-model="gender" /> Male &nbsp; <input type="radio"
								name="Gender" value="Female" ng-model="gender" /> Female
						</div>
						<div class="col-md-3">
							<label class="control-label">Address Line 1</label> <input
								class="form-control" ng-model="address1" type="text"
								name="address">
						</div>
						<div class="col-md-3">
							<label class="control-label">Address Line 2</label> <input
								class="form-control" ng-model="address2" type="text"
								name="complete address">
						</div>
						<div class="col-md-3">
							<label class="control-label">Pin Code</label> <input
								class="form-control" ng-model="pin" type="text" name="PinCode"
								maxlength="6">
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-3">
							<label class="control-label" style="float: none;">State </label>
							<select id="statelist" class="form-control" name="State">
								<option selected="selected" value="Select">Select State</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Time At this Address</label> <select
								class="form-control" name="TimeAdr" ng-model="time_address"
								style="width: 100%"
								ng-options="time as time.name for time in timeataddress"></select>
						</div>
					</div>
				</fieldset>
				<fieldset class="formfield" style="display: block;">
					<legend>KYC Information</legend>
					<div class="row clearfix">
						<div class="col-md-3">
							<label class="control-label">Pan Number</label> <input
								class="form-control" ng-model="pan" type="text"
								name="Pan Number" placeholder="AAAAA 1236 P">
						</div>
						<div class="col-md-3">
							<label class="control-label">Aadhaar Number</label> <input
								class="form-control" ng-model="aadhar" type="text"
								name="Aadhar Number" placeholder="XXXX XXXX XXXX">
						</div>
					</div>
				</fieldset>
				<fieldset class="formfield" id="kyc_fielset"
					style="margin-bottom: 40px; display: block;">
					<legend>KYC Document</legend>
					<div class="col-md-3">
						<a>
							<div class="preview"
								ng-style="{'background-image':'url('+image_url1+')'}"
								accesskey="{{image_url1}}" data-toggle="modal"
								data-target="#myModalnew">
								<span ng-if="!image_url1">Document Not available</span>
							</div> <label class="control-label"> Pan Card</label>
						</a>
					</div>
					<div class="col-md-3">
						<a>
							<div class="preview"
								ng-style="{'background-image':'url('+image_url2+')'}"
								accesskey="{{image_url2}}" data-toggle="modal"
								data-target="#myModalnew">
								<span ng-if="!image_url2">Document Not available</span>
							</div> <label class="control-label">Aadhaar Card</label>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#myModal" data-toggle="modal">
							<div class="preview"
								ng-style="{'background-image':'url('+image_url3+')'}"
								accesskey="{{image_url3}}">
								<span ng-if="!image_url3">Document Not available</span>
							</div> <label class="control-label"> Income Proof 1</label>
						</a>
					</div>
					<div class="col-md-3">
						<a>
							<div class="preview"
								ng-style="{'background-image':'url('+image_url4+')'}"
								accesskey="{{image_url4}}" data-toggle="modal"
								data-target="#myModalnew">
								<span ng-if="!image_url4">Document Not available</span>
							</div> <label class="control-label"> Income Proof 2</label>
						</a>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
	<div id="chat_window" class="row clearfix">
		<div class="chat_header_box" style="font-weight: bold;">
			<a id="minimize"
				style="vertical-align: middle; border: 1px solid #fff; color: #fff; padding: 0px 5px 0px 5px; text-decoration: none;">-</a>
			<a id="maxmize"
				style="vertical-align: middle; border: 1px solid #fff; color: #fff; padding: 0px 5px 0px 5px; text-decoration: none;">+</a>
			<a id="" title="{{}}"
				style="vertical-align: middle; color: #fff; padding: 0px 5px 0px 5px; text-decoration: none;">{{
				users.DSA.name}}</a> <a
				style="float: right; padding-right: 10px; color: #fff;"
				onclick="closeSocket();" id="btn_close">Close</a>
		</div>
		<div id="message_container">
			<ul id="messages">
			</ul>
			<div id="input_message_container">
				<form id="form_send_message" method="post" action="#">
					<input type="text" id="input_message"
						placeholder="Type your message here..." /> <input type="submit"
						id="btn_send" onclick="send('');" value="Send" />
					<div class="clear"></div>
				</form>
			</div>
		</div>
	</div>
	<div class="row clearfix" id="OfferPanel"
		style="position: absolute; display: none; left: 30%; top: 28%;"
		ng-if="authenticate('NOFRS')">
		<div class="col-md-12"
			style="background-color: white; border: 1px solid #C9D7E1;">
			<div class="row clearfix">
				<!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
				<div class="col-md-3 thumbnail-box" ng-repeat="offer in OfferArrey"
					id="OfferBox{{$index}}" ng-click="Load_Offer(offer.ID,$event)">
					<span class="badge">{{offer.Count}}</span> <img
						ng-src="{{offer.Icon}}" />
					<div>{{offer.Name}}</div>
					<div class="active_bar" id="active{{$index}}"></div>
				</div>
			</div>
			<div class="row clearfix offer_box">
				<ul>
					<li ng-repeat="moreoffer in AvailebleOffers">
						<div class="col-md-2">
							<img alt="" ng-src="{{moreoffer.Icon}}" width="28px"
								height="28px">
						</div>
						<div class="col-md-8">
							<span>{{moreoffer.Name}}</span>
						</div>
						<div class="col-md-2">
							<div class="roundedTwo">
								<input type="checkbox" id="Offer{{$index}}" name="check"
									ng-model="offer[moreoffer]" ng-checked={{moreoffer.selected}}
									autocomplete="off"
									ng-change="checkboxUpdate(offer[moreoffer],$index)" /> <label
									for="Offer{{$index}}"></label>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row clearfix lo" style="background-color: #DADADB;">
				<div class="col-md-12">
					<a class="add-button-div-notification" id="SendOffer"
						ng-click="updateStatus()" style="float: left">Offer</a> <a
						class="add-button-div-notification" id="closeOffer"
						style="float: right">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>