<div style="background-color: rgb(255, 255, 255); box-shadow: 0px 0px 10px 0px rgb(188, 188, 188); padding:0px 25px 5px 25px; border-radius:10px" >
	 <div class="panel_heading" style="margin: 0px -25px 5px -25px;"> Policy Outcome Perameters
	   <span id="perror" style="float:right; margin:0px 10px" class="CatError"></span>
	   </div>
		<div id="Score-table-block" class="row clearfix" style="margin: 10px 0px" ng-show="authenticate('POUTSCORE')">
	  	    <div class="custom-col-100P inline_control"> Score Table </div>
	  	    <div class="custom-col-90 inline_control">
		  	    <select class="form-control inline_control" style="width: 15%;" id="table_list" ng-disabled="ViewMode">
	  				 <option ng-selected="true" value ="Select">Select Table</option>
	  			 	</select>	
	  			 	<span class="inline_control" style="min-width: 29%; margin-left: 30px;">{{TableDesc}}</span>
	 			 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{Tstatus}}</span>
				 	 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{TCreatedBy}}</span>
					   </div>
			</div>

			<div id="Eligibility-block" class="row clearfix" style="margin: 5px 0px" ng-show="authenticate('POUTELGBLTY')">
		  	    <div class="custom-col-100P inline_control">Eligibility Rule </div> 
			  	    <div class="custom-col-90 inline_control">
		  			    <select class="form-control equal" ng-model="selectElgblty" ng-change="PolicyElgblty(selectElgblty)"
		  			      ng-disabled="ViewMode">
	  					 <option ng-selected="true" value="Select">Select Eligibility</option>
	  					 <option ng-repeat="obj in ElgbltyList" value="{{obj.ElgbltyID}}">{{obj.ElgbltyID}}</option>
	  			 		</select>	
						<span class="inline_control" style="min-width: 29%; margin-left: 24px;">{{ElgbltyDName}}</span>		
	 			 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{ElgbltyStatus}}</span>
				 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{ElgbltyCreatedBy}}</span>
					</div>
			</div>

			<div id="Decision-block" class="row clearfix" style="margin: 5px 0px" ng-show="authenticate('POUTDECRULE')">
		  	    <div class="custom-col-100P inline_control">Decision Rule </div> 
			  	    <div class="custom-col-90 inline_control">
		  			    <select class="form-control inline_control" style="width: 15%;" id="rule_list" ng-disabled="ViewMode">
	  					 <option ng-selected="true" value="Select">Select Rule</option>
	  			 		</select>	
						<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{RuleDesc}}</span>		
						<span class="inline_control" style="min-width: 10%; margin-left: 30px;">{{RuleType}}</span>					   	
	 			 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{Rstatus}}</span>
				 	 	<span class="inline_control" style="min-width: 15%; margin-left: 30px;">{{RCreatedBy}}</span>
					</div>
			</div>
		<div id="Aggrigation-block" class="row clearfix" style="margin: 15px 0px" ng-if="authenticate('POUTAGGR')">
	  		<div class="custom-col-100P inline_control">Aggregation </div>
				 <div class="row clearfix">
				 	<div class="col-md-11 col-md-offset-1" style="padding-left: 27px">
						<table class="table table-responsive table-bordered" id="aggr_table" ng-show="AggrList.length != 0">
						<tbody id="aggr_table_body">
							<tr><th>Aggregation Field</th><th>Aggregation Operator</th></tr>
						</tbody>
						</table>									
			<div id="Aggrigation_panel" class="row clearfix hiden" style="margin: 5px 0px; border: 1px solid rgb(224, 219, 219); padding: 10px 0px;">
			    <div class="col-md-2">
			    	<select id="aggr_file" class="form-control inline_control IffDrpDwn">
					<option selected="selected" value="Select">Select IFF File</option>
					</select>									
			    </div>
			    <div class="col-md-2 col-md-offset-1">
				    <select id="aggr_field" class="form-control inline_control">
						<option selected="selected" value="Select">Select IFF Field</option>
					</select>
			    </div>
			     <div class="col-md-2 col-md-offset-1">
				    <select id="aggr_operator" class="form-control inline_control">
						<option selected="selected" value="Select">Select Option</option>
					</select>
			    </div>
			    <div class="col-md-2">
			      <a class="TC_button" ng-click="Add_Aggrigation()">Add</a>	
			    </div> 
		    </div>	
		    <a class="TC_Button hiden" id="Add_Aggrigation">Add New</a>								
		 </div>
	 </div>
	      <div class="custom-col-90 inline_control col-md-offset-1" style="margin-top: -20px">
		      <span class="add-button-div matrixBtn1" id="Add_Aggrigation" style="background-color: white; border: 1px solid #C5C6C8" 
		        ng-if="AggrList.length == 0 && !ViewMode">Add New</span>
		      <span class="add-button-div matrixBtn1" id="Edit_Aggrigation" style="background-color: white; border: 1px solid #C5C6C8" 
		      ng-if="AggrList.length != 0 && !ViewMode">Edit</span>
		  </div>
	   </div>	
	</div> 