<div class="page-signin" data-ng-controller="loginController">
	<div class="signin-body" >
		<div class="container">
			<div class="form-container">
				
				<div class="alert alert-warning text-center" role="alert" ng-show="alert" style="margin-top: 20%" data-ng-bind="alert"></div>
				
				<div class="panel panel-default" id="forget_password" data-ng-show="!isForgotOpen">
					<div class="panel-heading">
						Signin
					</div>
					<div class="panel-body">
						<form name="gonogosignin" class="form-horizontal form-validation" role="form" autocomplete="off" >
							<div class="form-group">
								
								<label for="email" class="col-sm-3 control-label">
									Email
								</label>
								<div class="col-sm-9">
									<input type="text" name="username" class="form-control" id="inputEmail3" style="padding: 3px 12px;" placeholder="User Name" autofocus required data-ng-model="login.userName" >
									<div data-ng-messages="gonogosignin.username.$error" role="alert" class="help-block"  data-ng-if="interacted(gonogosignin.username)"   >
										<div data-ng-messages-include="views/templates/error-messages.html" ></div>
										
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3 control-label">
								Password</label>
								<div class="col-sm-9">
									<input type="password" name="password" class="form-control" id="inputPassword3"
									placeholder="Password" required  data-ng-model="login.password"  data-ng-minlength="5"  >
									
									<div data-ng-messages="gonogosignin.password.$error" role="alert" class="help-block"    data-ng-if="interacted(gonogosignin.password)" >
										<div  data-ng-messages-include="views/templates/error-messages.html"></div>
									</div>
									
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<div class="checkbox">
										<label><input type="checkbox" data-ng-model="login.rememberme" /> Remember me
									</label>
								</div>
							</div>
						</div>
						<div class="form-group last">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-success btn-sm" data-ng-click="submit()" data-ng-disabled="gonogosignin.$invalid ">
								Sign in</button>&nbsp;&nbsp;&nbsp;
								<button type="reset" class="btn btn-default btn-sm">
								Reset</button>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<p class="help-block text-right">
						<a class="text-muted" href=""  data-ng-click="isForgotOpen = !isForgotOpen">
							<!-- <small>Forgot your password?</small> -->
						</a>
					</p>
				</div>
			</div>
			
			<div data-ng-show="isForgotOpen"  id="forget_password" class="panel panel-default pannelShowingEffect"  >
				<div class="panel-heading">
					<span class="glyphicon glyphicon-lock"></span> Forgot your password !!!
				</div>
				<div class="panel-body">
					<form name="gonogo-forgotpassword" role="form" id="login-recordar"
						method="post">
						
						<span class="help-block"> Email address you use to log in
							to your account <br> We'll send you an email with
							a new password.
						</span>
						<div class="form-group input-group">
							<span class="input-group-addon"> @ </span>
							<input class="form-control" placeholder="Recovery Email" name="email" type="text" required data-ng-model="recoveryemail">
						</div>
						<div class="form-group last"><br>
							<div class="col-sm-offset-2 col-sm-9">
								<button type="submit" class="btn btn-primary btn-block"
								id="btn-olvidado" data-ng-click="forgetPassword()">Continue</button>		<br>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<a class="text-muted" href="" data-ng-click="isForgotOpen = !isForgotOpen"><small>Back to login</small></a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
