<div class="nav-wrapper">
	<div class="clearfix" data-ng-style="{'background-color':color}" ng-if="InstitutionID != '4011'"
			style="margin-bottom: 0px; box-shadow: 5px 5px 5px #888888;">
			<div class="col-md-12 column">
				<div class="col-md-12 col-md-1"></div>
				<img id="logo" class="img-responsive" ng-src="{{instImage}}" />
			</div>
		</div>
		<div class="row clearfix" ng-if="InstitutionID == '4011'" style="margin-bottom: 0px; background-color: rgb(36, 161, 237);">
			<div class="col-md-2 col-md-offset-1">
				<img src="images/gonogo.png" alt="image not found" style="width: 150px;height: 66px;position: absolute; margin-bottom: 5%" />
			</div>
			<div class="col-md-9">
			<nav class = "navbar navbar-default" role = "navigation">
			  <div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><span
								class="icon-bar"></span><span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #24A1ED;z-index: 1;position: relative;text-align: center;">
						<ul class="nav navbar-nav navbar-left">

							<li>
							  <a href="#application"  id="applicationLink" title="{{app}}" ng-if="InstitutionID != '4011' && app" style="padding-bottom: 4px; padding-top: 6px;"><p id="applicationSpeech" class="application  checkIt customP">
							  	<img id="apply"  src="images/apply.png" alt="Image not found" style="width: 34px;"/>
							    </p>
							  </a>
							</li>
							<li>
								<a href="#dmiapplication" id="applicationLink" title="{{app}}" ng-if="InstitutionID == '4011' && app" style="padding-bottom: 4px; padding-top: 6px;"><p id="applicationSpeech" class="application  checkIt customP">
								<img class="bubble" src="images/apply.png" alt="Image not found" style="width: 34px;"/>
								</p>
								</a>
							</li>
							<li>
								<a href="#DMINotification"  id="notificationLink" title="{{notif}}" ng-show="notif" style="padding-bottom: 4px;padding-top: 6px;"><p id="notifSpeech" class="notification checkIt customP">
								<img class="bubble" src="images/Notification.png" alt="Image not found" style="width: 53px;"/>
								</p>
								</a>
							</li>
							<li>
								<a href="#policy"  id="policy" title="{{policy}}" ng-show="policy"  style="padding-bottom: 4px;padding-top: 6px;"><p id="policySpeech" class="policy checkIt customP">
								<img class="bubble" src="images/Policy.png" alt="Image not found" style="width: 32px;"/></p>
								</a>
							</li>
							<li>
								<a href="#analytics"  id="anlysis" title="{{analytics}}"  ng-show="analytics"  style="padding-bottom: 4px;padding-top: 6px;">
									<p id="analyticsSpeech" class="analytics checkIt customP">
									  <img class="bubble" src="images/Analytics.png" alt="Image not found" style="width: 46px;"/>
									</p>
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" style="padding-right: 45px;">
							<li class="dropdown">
								<p data-toggle="dropdown" class="open_tab" id="openBox" style="margin-top: 0px;margin-bottom: 0px">
									<img src="images/profile and arrow-01.png" alt="user Icon" class=" user_thumb" style="height:59px;margin-top:0px" >
								</p>
								<div class="dropdown-menu " id="logout_dropdown_panel" style="height: auto;background-color: rgb(36, 161, 237);padding:1px;margin-top: 10px;">
									<p class="logoutPanel" style="margin: 0px 0px 0px;"></p>
									<div class="row clearfix">
										<div class="col-md-3" >
											<div class="profile_icon " style="width: 97px;height: 114px;background-image: url('images/user.png'); ">
											</div>
										</div>
										<div class="user_data col-md-8" style="text-align:initial">
											<div class="row clearfix">
												<div class="col-md-12" style="margin-top: 4%;">
												<label id="user_name" title="{{userid}}" style="text-align: left; color:#fff">				{{username}}
												</label>
												<div class="copyright" style="text-align: left;margin-top: 7px;color:#fff;margin-bottom: 15%">{{useremail}}
												</div>
												<a class="btn-primary" ng-click="logout()" style="padding: 4px 13px;background-color: initial;border:1px solid #fff;margin-left:57%;">
													LogOut
												</a>
												</div>
											</div>
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
   			</nav>
			</div>
		</div>
</div>