<div class="col-md-12">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>refId</th>
                    <th>date</th>
                    <th>city</th>
                    <th>Full Name</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="datasource.length <= 0">
                    <td colspan="5" style="text-align:center;">
                        Loading new data!!
                    </td>
                </tr>
                <tr dir-paginate="store in datasource | itemsPerPage:itemPerPage" total-items="total_count">
                    <td>{{store.applicationId}}</td>
                    <td>{{store.date | dateFormat}}</td>
                    <td>{{store.city.toUpperCase()}}</td>
                    <td>{{store.applicantName}}</td>
                    <td>{{store.loanAmount}}</td>
                </tr>
            </tbody>
        </table>
        
        <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="fetchDateFromServer(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>
